<br>
<br>

<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
			<label for="nombre_comercial">Nombre comercial</label>
			<input type="text" class="form-control" [(ngModel)]="this.infoData.comertial_name" (focusout)="saveSchema()" name="nombre_comercial">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="semblanza">Semblanza</label>
        <textarea type="text" class="form-control" [(ngModel)]="this.infoData.semblance" (focusout)="saveSchema()" name="semblanza"></textarea>
        <small class="form-text text-muted">Este campo es obligatorio</small>
      </div>
    </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-12">
    <a class="customTooltip" href="">¿Por qué te pedimos estos datos? <span class="tooltipText tooltipBottom"><p>En infood nos dedicamos a generar una comunidad entre productores, compradores y consumidores, por lo cuál queremos saber de ti y de tus actividades, esto genera lazos de empatía y confianza en la gente que interactúa en la plataforma.</p></span></a>
  </div>
</div>

<br>
<br>
