<app-navbar></app-navbar>
<div class="col-12">
  <div class="loginFormContainer">
    <h2>INICIO SESIÓN</h2>

    <div class="loginExternos">
      <div class="row">
        <div class="col-12">
          <button class="btn-block btnFacebook" (click)="signInWithFacebook()"><img src="assets/img/facebookLogo.png" alt="facebookLogo"> INGRESAR CON FACEBOOK</button>
          <button class="btn-block btnGoogle" (click)="signInWithGoogle()"><img src="assets/img/googleLogo.png" alt="facebookLogo">INGRESAR CON GOOGLE</button>
        </div>
      </div>
    </div>
    
    <div class="dropdown-divider divisor"></div>
    
    <div>
      <form #loginForm=ngForm action="#" (ngSubmit)="onSubmit(loginForm)">
        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-12 col-form-label">Correo electrónico</label>
          <div class="col-sm-12">
            <input type="email" name="email" id="inputEmail3" email [(ngModel)]="form.user_email" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-12 col-form-label">Contraseña</label>
          <div class="col-sm-12">
            <input type="password" name="password" id="inputPassword3" [(ngModel)]="form.user_pass"
              required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn-block btnSignin" >INICIAR SESIÓN</button>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <p class="float-left">¿No tienes cuenta? <a href="signup">¡Crea una!</a></p> <p class="float-right"><a href="/mi-cuenta/lost-password/">¿Has olvidado tu contraseña?</a></p>
          </div>
        </div>
        
      </form>

      
    </div>
  </div>
</div>

