.loginFormContainer {
  max-width: 510px;
  margin: auto;
  margin-top: 120px;
}

.loginFormContainer h2{
  text-align: center;
  margin: 1em 0;
}

.dropdown-divider {
  border-top-color: #e3e3e3 !important;
}

a {
  color: #006ce5;
  text-decoration: underline;
}

input {
  border: none;
  border-bottom: 1px solid #4d4d4d;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  /* display: block; */
  width: 100%;
}

label {
  display: block;
}

.loginExternos img{
  width: 40px;
  margin-right: 20px;
}

.loginExternos button {
  background: #80b500;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.btnSignin {
  background: #80b500;
  height: 50px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;

  margin-top: 20px;
}

.btnFacebook {
  background: #4267b2 !important;
  border: none;
  cursor: pointer;
}

.btnGoogle {
  background: #db4437 !important;
  border: none;
  cursor: pointer;
}

.divisor {
  border-top-color: #9d9d9d;
  margin-top: 30px;
  margin-bottom: 30px;
}

.captcha {
  margin-left: 15px;
}

.condiciones {
  font-size: 15px;
  display: inline-block;
  margin-left: 5px;
}

.chkTerminos {
  display: inline-block;
  width: initial !important;
}