p {
	text-align: left;
}

input{
	height: 22px;
	border-style: none none solid none;
	font-size: 14px;
	width: 50px;
	text-align: center;
	border-width: 1px;
}

input:hover, input:focus{
	outline: 0;
}

div {
	display: flex;
}
