.producto-item{
    height:  342px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}

.nuevo-producto{
    text-align: center;
    height: 350px;
    border: 1px solid #e6e6e6;
}

.nuevo-text{
    margin: auto;
    font-size: 17px;
    color: #8080808c;
}

.nuevo-simbolo{
    margin: auto;
    color: #8080808c;
    font-size: 110px;
}

.imagen{
    height: 45%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.estatus{
    width: 100%;
    height: 68px;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #e1e1e1;   
}

.botones{
    width: 50%; 
    text-align: right;
}

.estatus-label{
    width: 50%;
    padding-left: 7px;
}

.product-item{
    width: 24%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0.5%;
}

.product-item:hover{
    opacity: 0.7;
}

.product-item>img{
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.product-item>.characteristics{
    font-size: 22px;
    margin-bottom: 12px;
}

.characteristics{
    margin-bottom: 12px
}
.additional-characterist{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2px;
    margin-bottom: 30px;
    padding-left: 7px;
}

.additional-characterist>.characteristics>.description-text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.date{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2px;
    margin-bottom: 22px;    width: 190px;
    margin-bottom: 10px;
}

.title-black{
    font-size: 27px;
    font-weight: bold;
}

.botones  img{
    margin: 4px;
}

.botones > a {
	cursor: pointer;
}

.center{
    text-align: center;
}

.info{
    padding-left: 5px;
    font-size: 12px;
}

.titulo > span{
    font-size: 30px;
    font-weight: bold;
}

a{
    color: black;
}

a:hover{
    color: black;
}

.container-vender{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

.new-application{
    width: 24%;
    height: 350px;
    margin: 0.5%
}

.gray-small{
    margin-top: 6px
}

.spinner{
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

div .titulo{
    width: 100%;
    font-size: 22px;
    font-weight: bolder;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.estatus-btn{
    display: flex;
    flex-flow: column;
    height: 40px;
}

.info-titulo{
    font-weight: bold;
}


@media (max-width: 1140px) {
    .product-item { width:33% }
    .new-application{ width: 33%; }
    .container-vender{ padding: 0% 5% 0% 5% }
}

@media (max-width: 930px) {
    .product-item { width:49% }
    .new-application{ width: 49%; }
    .container-vender{ padding: 0% 10% 0% 10% }
}

@media (max-width: 680px) {
    .product-item { width:100% }
    .new-application{ width: 100%; }
    .container-vender{ padding: 0% 20% 0% 20% }
}
