<div class="row">

	<div class="contenedor">

		<div style="display:flex;background:rgba(0,0,0,0.2);height:auto;width:100%;">
			<input type="text" [(ngModel)]="busqueda">
			<a href="{{siteUrl}}/marketplace-busqueda-productos/{{busqueda}}"> 
				<button id="btn-buscar">BUSCAR</button>
			</a>
		</div>
		<div class="botones" style="display:flex; justify-content: space-around; width:100%;text-align: center;">
			<a href="{{siteUrl}}/marketplace-busqueda-productos">
				<button id="btn-comprar">COMPRAR</button>
			</a>
			<a href="{{siteUrl}}/marketplace-busqueda-solicitudes">
				<button id="btn-vender">VENDER</button>
			</a>
		</div>
	</div>
</div>