.contenedor {
	display: inline-block;
    vertical-align: middle;
	float: none;
	position:inherit;
	margin:auto;
	max-width:700px; 
	width: 90%;
}

.botones {
	margin-top:20px;
}

input{
	padding-left: 20px; 
	width: 80%;
	font-size: 16px;
	font-family:  'Lato', 'Arial';
	color: #333333;
	font-weight: 500;
	margin: 13px 0px 13px 13px;
}

#btn-buscar{
	background: #80b500;
	color: white;
	border-style: solid;
	border-color: #80b500;
	height: 38px;
	width: auto;
	min-width: 120px;
	font-size: 14px;
	font-family: Lato, Arial;
	margin: 13px 13px 13px 0px;
}

#btn-buscar:hover, #btn-buscar:focus{
	border-style: solid;
	border-color: #80b500;
  	opacity: .8;
  	outline: 0;
}



#btn-comprar{
	background: #80b500;
	color: white;
	border-style: solid;
	border-color: #80b500;
	height: 40px;
	width: auto;
	min-width: 120px;
	font-size: 14px;
	font-family: Lato, Arial;
}

#btn-comprar:hover, #btn-comprar:focus{
	border-style: solid;
	border-color: #80b500;
  	opacity: .8;
  	outline: 0;
}

#btn-vender{
	background: #286618;
	color: white;
	border-style: solid;
	border-color: #286618;
	height: 40px;
	width: auto;
	min-width: 120px;
	font-size: 14px;
	font-family: Lato, Arial;
}

#btn-vender:hover, #btn-vender:focus{
	border-style: solid;
	border-color: #286618;
  	opacity: .8;
  	outline: 0;
}

@media (max-width: 540px) {
	.botones {
		margin-top: 1px;
	}
}