.spinner{
    width: 80%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

body {
	width: 100%;
}

.avatar {
	width: 4cm;
	height: 4cm;
	margin: 20px auto;
	max-width: 100%;
}

.nombre {
	margin: 10px auto;
}

app-perfil {
	padding: 0px;
}

.padre {
	display: flex;
}

.cuerpo {
	width: 80%;
}

.menuItem {
	display: inline-block;
}

.side-bar-container{
	width: 20%;
	max-width: 250px;
	/* min-width: 170px; */
}

.side-bar{
	padding: 0px;
	border-right-style: solid;
	border-right-color: #e6e6e6;
	border-right-width: 1px;
	height: 100%;
}

.menu-dashboard-label {
	padding-left: 30px;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    color: black;
    margin: 0px;
}

.menu-dashboard-selected {
	background: #80b500;
	color: white;
}

a{
	color: #006ce5 !important;
}

a:hover{
	text-decoration: underline !important;
}

.menu-dashboard-label:not(.menu-dashboard-selected):hover {
	background: #e2e2e2;
}

.row{
	margin: 0px !important;
}

label > img{
	margin: 0 5px 3px 0;
}

@media (max-width: 847px) {
	.menuItem{
		display: none;
	}

	.nombre {
		font-size: 14px;
	}

	.menu-dashboard-label {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-dashboard-label img {
		margin: 0 auto;
		width: 24px;
		height: 24px;
	}
}

@media (max-width: 695px) { 
	.padre {
		flex-direction: column;
	}

	.side-bar-container {
		max-width: 100%;
		width: 100%;
	}

	.nombre {
		font-size: 1rem;
	}
	
	.side-bar {
		width:100%;
		max-width: 100% !important;
	}
	
	.cuerpo {
		max-width: 100%;
		width: 100%;
	}

	.menuItem {
		display: inline-block;
	}

	.menu-dashboard-label {
		padding-left: 30px;
		padding-top: 15px;
		display: inline-block;
	}

	.menu-dashboard-label img {
		width: 17px;
		height: 17px;
		margin: 0 5px 3px 0;
	}
}
