<app-navbar></app-navbar>
<div class="navigation-bar"> 
 
  <div class="ruta"> 
      <div class="link">Dashboard</div> 
      <div class="divisor">/</div> 
      <div>{{this.dashboardPerfilRoute}}</div>
  </div>

</div>

<div class="row padre">
    <div class="side-bar-container" style="padding:0px;">
      <div class="col-sm-11 side-bar" >
        <div class="row" style="text-align: center;">
          <img class="avatar" [src]="imgPerfil !== '' ? imgPerfil : 'assets/img/avatar.png'"
              (error) = " this.imgPerfil = 'assets/img/avatar.png'" >
        </div>

        <div class="row">
          <label class="nombre">{{name}}</label>
        </div>

        <div class="row col-ms-12">
          <label class="nombre"><a class="link-to" (click)="openDialog()">Cambiar contraseña</a></label>
        </div>

        <label (click)="abrePerfil()" [class.menu-dashboard-selected]="perfil" class="menu-dashboard-label customTooltip" ><img src="{{ perfil ? 'assets/iconosinfood/perfil_b.png' : 'assets/iconosinfood/perfil.png'}}" width="17px;" height="17px;"> <span class="menuItem">PERFIL</span> <span class="tooltipText"><p>Aqui podrás configurar tu perfil</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreVender()" [class.menu-dashboard-selected]="vender" class="menu-dashboard-label customTooltip" ><img src="{{ vender ? 'assets/iconosinfood/vender_b.png' : 'assets/iconosinfood/vender.png'}}" width="17px;" height="17px;"> <span class="menuItem">VENDER</span> <span class="tooltipText"><p>¿Como funciona la opcion de ventas?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreSolicitar()" [class.menu-dashboard-selected]="solicitar" class="menu-dashboard-label customTooltip" ><img src="{{ solicitar ? 'assets/iconosinfood/solicitar_b.png':'assets/iconosinfood/solicitar.png'}}" width="17px;" height="17px;"> <span class="menuItem">SOLICITAR</span> <span class="tooltipText"><p>¿Como funciona la opcion de solicitudes?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreComprar()" [class.menu-dashboard-selected]="comprar" class="menu-dashboard-label customTooltip" ><img src="{{ comprar ? 'assets/iconosinfood/comprar_b.png' : 'assets/iconosinfood/comprar.png' }}" width="17px;" height="17px;"> <span class="menuItem">COMPRAR</span> <span class="tooltipText"><p>¿Como funciona la opcion de comprar?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreFavoritos()" [class.menu-dashboard-selected]="favoritos" class="menu-dashboard-label customTooltip" ><img src="{{ favoritos ? 'assets/iconosinfood/favoritos_b.png':'assets/iconosinfood/favoritos.png'}}" width="17px;" height="17px;"> <span class="menuItem">FAVORITOS</span> <span class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreUsuarios()" [class.menu-dashboard-selected]="usuarios" class="menu-dashboard-label customTooltip" ><img src="{{ usuarios ? 'assets/iconosinfood/usuarios_b.png' : 'assets/iconosinfood/usuarios.png' }}" width="17px;" height="17px;"> <span class="menuItem">USUARIOS</span> <span class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreProductos()" [class.menu-dashboard-selected]="productos" class="menu-dashboard-label customTooltip" ><img src="{{ productos ? 'assets/iconosinfood/productos_b.png' : 'assets/iconosinfood/productos.png' }}" width="17px;" height="17px;"> <span class="menuItem">PRODUCTOS</span> <span class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreSolicitudes()" [class.menu-dashboard-selected]="solicitudes" class="menu-dashboard-label customTooltip" ><img src="{{ solicitudes ? 'assets/iconosinfood/solicitudes_b.png' : 'assets/iconosinfood/solicitudes.png' }}" width="17px;" height="17px;"> <span class="menuItem">SOLICITUDES</span> <span class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abreOfertas()" [class.menu-dashboard-selected]="ofertas" class="menu-dashboard-label customTooltip" ><img src="{{ ofertas ? 'assets/iconosinfood/ofertas_b.png' : 'assets/iconosinfood/ofertas.png' }}" width="17px;" height="17px;"> <span class="menuItem">OFERTAS</span> <span class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
        <label (click)="abrePedidos()" [class.menu-dashboard-selected]="pedidos" class="menu-dashboard-label customTooltip" ><img src="{{ pedidos ? 'assets/iconosinfood/pedidos_b.png' : 'assets/iconosinfood/pedidos.png' }}" width="17px;" height="17px;"> <span class="menuItem">PEDIDOS</span> <span class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
      </div>
    </div>

    <div class="spinner" *ngIf="spinerIsVisible" >
      <mat-progress-spinner
        [mode]="pspinner.mode">
      </mat-progress-spinner>
    </div>

    <div class="cuerpo" *ngIf="!spinerIsVisible">
      <app-perfil [infoUser]="info" *ngIf="perfil" class="col-sm-9" style="padding: 0px;"></app-perfil>
      <app-vender [infoUser]="application" *ngIf="vender" class="col-sm-9" style="padding: 0px;"></app-vender>
      <app-solicitar [infoUser]="solicitute" *ngIf="solicitar" class="col-sm-9" style="padding: 0px;"></app-solicitar>
      <app-comprar *ngIf="comprar" class="col-sm-9" style="padding: 0px;"></app-comprar>
      <app-favoritos *ngIf="favoritos" class="col-sm-9" style="padding: 0px;"></app-favoritos>

      <!--
      <app-administrador-usuarios [infoUser]="info" #usuariosComponent *ngIf="usuarios" class="col-sm-9" style="padding: 0px;"></app-administrador-usuarios>
      <app-administrador-solicitudes *ngIf="solicitudes" class="col-sm-9" style="padding: 0px;"></app-administrador-solicitudes>
      <app-administrador-productos *ngIf="productos" class="col-sm-9" style="padding: 0px;"></app-administrador-productos>
      -->


      <app-administrador-usuarios [infoUser]="info" *ngIf="usuarios" class="col-sm-9" style="padding: 0px;"></app-administrador-usuarios>
      <app-administrador-solicitudes [infoUser]="allAdmin" *ngIf="solicitudes" class="col-sm-9" style="padding: 0px;"></app-administrador-solicitudes>
      <app-administrador-productos [infoUser]="allAdmin" *ngIf="productos" class="col-sm-9" style="padding: 0px;"></app-administrador-productos>
      <app-administrador-ofertas *ngIf="ofertas" class="col-sm-9" style="padding: 0px;"></app-administrador-ofertas>
      <app-administrador-pedidos *ngIf="pedidos" class="col-sm-9" style="padding: 0px;"></app-administrador-pedidos>
    </div>

</div>
