<app-navbar></app-navbar>
<div class="navigation-bar"> 
    <div class="ruta"> 
        <div class="link" (click)="redirect(0)">{{linkDashboard}}</div> 
        <div class="divisor">/</div> 
        <div class="link" (click)="redirect(1)" >{{linkOffert}}</div> 
        <div class="divisor">/</div> 
        <div>Detalles del producto</div>
    </div>    
</div>

<div class="spinner" *ngIf="!solicitud" >
    <mat-progress-spinner 
        [mode]="pspinner.mode">
    </mat-progress-spinner>
</div>

<div class="content-body" *ngIf="solicitud" >
    <div class="first-panel">
        <div *ngIf="auth.esAdmin()" class="admin-option">
            <span>Completado</span>
            <label class="switch">
                    <input [(ngModel)]="completado" (change)="completar()" type="checkbox" [checked]="completado">
                    <span class="slider round"></span>
            </label>
        </div>

        <div class="container-superior">
            <div class="information">
                <div class="image-carrousel">
                    <div class="available-images">
                            <img *ngFor="let image of imageUrls; let i = index" [src]="image" (click)="changeImage(i)">
                    </div>
                    <div class="imageView">
                        <div class="prev"  (click)="prevImage()" >
                            <img src="{{prev}}" alt="">
                        </div>
                            
                        <img [src]="this.imageCarrouselPrev">
                            
                        <div class="next" (click)="nextImage()" >
                            <img src="{{next}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="content-information">
                    <b class="title">{{solicitud.producto !== null ? solicitud.producto.nombre: 'No especificado' }} {{solicitud.variedad !== null ? solicitud.variedad: 'No especificado'}}</b>
                    <div class="info-price">
                        <b>${{solicitud.precio_unidad !== null ? solicitud.precio_unidad: 'No especificado' }} </b><label class="gray">/{{solicitud.unidad_presentacion !== null ? solicitud.unidad_presentacion.nombre: 'No especificado'}}</label>
                    </div>
                    <div class="info">
                        <b>Características: </b><label>{{solicitud.otras_caracteristicas !== null ? solicitud.otras_caracteristicas: 'No especificado'}}</label>
                    </div>
                    <div class="info">
                        <b>Productor: </b><label>{{solicitud.usuario !== null ? solicitud.usuario.nombre_comercial : 'No especificado'}}</label>              
                    </div>
                    <div class="info">
                        <b>Producción total: </b><label>{{solicitud.volumen_total !== null ? solicitud.volumen_total: 'No especificado'}} {{solicitud.unidad !== null ? solicitud.unidad.nombre: ''}}</label>              
                    </div>
                    <div class="info">
                        <b>Presentación: </b><label>{{solicitud.presentacion !== null ? solicitud.presentacion.nombre: 'No especificado'}}</label>              
                    </div>
                    <div class="info">
                        <b>Tamaño: </b><label> {{solicitud.tamano !== null ? solicitud.tamano: 'No especificado'}} {{solicitud.unidad_presentacion !== null ? solicitud.unidad_presentacion.nombre: ''}}</label>
                    </div>
                    <div class="info">
                        <b>Requerido a partir de: </b><label>{{solicitud.requerido_desde}} hasta {{solicitud.requerido_hasta}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="certifies" >
            <div class="title-certifies">
                <b>Certificaciones:</b>
            </div>
            <div class="container-certifies">
                <img *ngFor="let cert of compra.certificaciones" [src]="cert.imagen">
            </div>
        </div>

        <div class="middle-content" >
            <div class="content">
                
                <div class="container-semblance">
                    <div class="title-2"><b>Reseña del Producto:</b></div>
                    <div class="body">
                        {{solicitud.resena}}
                    </div>
                </div>
                <div class="container-direction">
            
                    <div class="title-2"><b>Origen:</b></div>
                    <div class="subtitle"><b>{{solicitud.estado.nombre}}, {{solicitud.ciudad}}.</b></div>
            
                    <div class="container-map">
                        <app-mapa  [x]="solicitud.estado.longitud" [y]="solicitud.estado.latitud"></app-mapa>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment-section" *ngIf="!spinerIsVisible" >
          
            <div class="comments">
                <div class="title-2"><b>Comentarios:</b></div>
                <div class="comment-box-body">
                    <div class="comentary-product" *ngFor="let comentario of compra.comentarios">
                        <div class="title-2"><b>{{comentario.usuario.name}} - {{comentario.fecha}}</b></div>
                        <div class="comentary"><p>{{comentario.comentario}}</p></div>
                    </div>
                    <div class="add-comment">
                        <div class="title-2"><b>Escribe un comentario:</b></div>
                        <textarea  [(ngModel)]="comentario"></textarea>
                        <div class="area-button">
                            <button class="btn-verde" (click)="enviarComentario()" style="width:180px" >Enviar Comentario</button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>