.admin-options {
	position: absolute;
}

.admin-option {
	display: flex;
	align-items: center;
}

.admin-option > span{
	margin-top: -5px;
	margin-right: 15px;
}

.title{
    font-size: 20px;
}

.title-2{
    font-size: 16px;
    margin-bottom: 10px;
}

.title{
    font-size: 20px;
}

.title-2{
    font-size: 16px;
    margin-bottom: 10px;
}

.gray{
    color: #e1e1e1;
    font-size: 17px;
}

.content-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 40px;
}

.first-panel{
    display: flex;
    flex-direction: column;
    width: 1170px;
}

.container-superior{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.information{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
}

.image-carrousel{
    width: 50%;
    height: 90%;
    display: flex;
}

.available-images{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.available-images > img{
    width: 80%;
    height: 15%;
    margin-bottom: 10px;
    cursor: pointer;
}

.imageView{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.imageView > img{
    width: 70%;
}

.content-information{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

.prev{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.prev > img{
    height: 15%;
    width: 100%;
}

.next{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.next > img{
    height: 15%;
    width: 100%;
}

.info{
    font-size: 15px;
}

.info-price{
    font-size: 25px;
}

.certifies{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.title-certifies{
    width: 100%;
    height: 30%;
    font-size: 14px;
}

.container-certifies{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

.container-certifies > img {
    width: 110px;
    height: 100%;
    border: #e1e1e1 1px solid;
    margin-left: 10px;
}

.middle-content{
    width: 100%;
    height: 400px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content{
    width: 100%;
    height: 80%;
    border-top: #e1e1e1 1px solid;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.foot-page-down{
    width: 100%;
    height: 20%;
}

.container-semblance{
    width: 50%;
    height: 100%;
}

.container-semblance > .body{
    font-size: 14px;
    text-align: justify;
    overflow-wrap: break-word;
}

.container-direction{
    width: 55%;
    height: 100%;
}

.subtitle{
    font-size: 12px;
}

.comment-section{
    width: 100%;
    height: 600px;
}

.comments{
    width: 100%;
    height: auto;
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.comment-box-body{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: solid 1px #e1e1e1;
}

.comentary-product{
    margin: 0px 40px 0px 40px;
}

.comentary{
    border: solid 1px #e1e1e1;
    min-height: 60px;
    text-align: justify;
}

.add-comment{
    width: 100%;
	padding: 12px;
}

.add-comment > textarea{
    width: 100%;
}
.area-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comentary > p{
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 10px;
}

.container-map{
    width: 100%;
    height: 65%;
}

.spinner{
    position: absolute;
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    z-index: 1000;
}

.btn-verde{
    width: 140px;
}

.btn-negro{
    width: 140px;
}

@media (max-width:1200px) {
    .first-panel{ width:90%; }
}

@media (max-width: 680px) {
    .first-panel{ width: 100% }
    .image-carrousel{
        width: 100%;
    }
    .content-information{
        width: 100%;
    }
    .information{
        flex-direction: column;
    }
    .container-superior{
        width: 100%;
        height: 600px;
    }
    .content{
        flex-direction: column;
    }
    .container-semblance{
        width: 100%;
        height: auto;
    }
    .container-direction{
        width: 100%;
    }   
    .ruta{
        width: 80%;
    } 
}