/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body{
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6, .site-title {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.productos{
    font-family: Rubik;
}

button{
    font-size: 14px;
    font-family: 'Lato','Arial';
}

.fit-w{
    width: fit-content;
    padding: 0px 15px;
}

.fit-h{
    height: fit-content;
}

button:hover{
    opacity: 0.8;
}

.btn-verde{
    background:  #80b500;
    color:white;
    height: 45px;
    max-width: 210px;
    text-transform: uppercase;
    font-size: 14px;
    border:none;
    cursor: pointer;
    padding: 0.618em 1em;
}

.btn-verde-grande{
    background:  #80b500;
    color:white;
    height: 45px;
    text-transform: uppercase;
    font-size: 14px;
    border:none;
    cursor: pointer;
    padding: 0.618em 1em;
}



.btn-verde2{
    background:  #4a9822;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-negro{
    background:  #000;
    color:white;
    height: 45px;
    max-width: 210px;
    text-transform: uppercase;
    font-size: 14px;
    border:none;
    cursor: pointer;
    padding: 0.618em 1em;
}

input[type="radio"]{
    transform: scale(1.7);
    margin-bottom: 12px;
}
.ayuda{
    margin-left: 10px;
}

.radioForm{display: inherit}

.foot-page-down{
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
}

.w-20pc{
    width: 33%;
}

.w-600{
    width: 600px;
}

.h-50{
    height: 50px;
}

.m-10{
    margin: 10px;
}

.m-24{
    margin: 24;
}

.m-30{
    margin: 30px;
}

.f-s-18{
    font-size: 18px;
}
.f-s-25{
    font-size: 25px;
}


.banner-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    margin: 10px;
}

.banner{
    font-size: 45px;
}
.descripcion-banner{
    text-align: center; 
    font-size: 18px;
    font-family: 'Lato';
    font-weight: bold; 
    color: black;
}

.productos-mostrados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;  
}

mat-progress-spinner{
    display:inline-block!important;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #80b50c !important;
}

.item-producto{
    width: 23%;
    height: 350px;
    margin: 1%;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;    
}


.precios-item-producto
{
    font-size: 18px;
}

.consultar-item-producto{
    font-size: 30px;
    color: #80b500;
    font-weight: bold;
}

.f-s-20-center{
    font-size: 20px;
}

.btn-center{
    display: flex;
    align-items: center
}

.contenerdor-boton{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mat-icon{
    vertical-align: middle;
}

.navigation-bar{
    width: 100%;
    height: 55px;
    background: #f3f3f3;
    margin: 80px 0px 10px 0px;
    font-family: Rubik, Arial;
    font-size:15px;
    color:#a0a0a0;
    display: inline-flex;
    vertical-align: middle;
}

.navigation-bar > *{
    margin: auto auto auto 20px;
}

.selected-navigation-bar{
    color:black
}


input[type="date"]{
    border-radius: 3px;
    height: 50px;
    border:#e6e1e1 1px solid;
    text-indent: 15px;
    font-size: 18px;
    width: 100%;
}

mat-dialog-container {
    padding: 0 !important;
    overflow: unset !important;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.container{
    padding: 0px;
}


.customTooltip {
    visibility: initial;
    position: relative;
    /* z-index: 1000; */
}

/* Tooltip text */
.customTooltip .tooltipText {
    font-size: 0.8em;
    visibility: hidden;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
    padding: 10px;
 
    /* Position the tooltip text */
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 120%;
    margin-left: -20%;
    opacity: 0;
    transition: opacity 0.3s;
}

.customTooltip .tooltipBottom { 
    /* Position the tooltip text */
    top: 120%;
    left: 0;
    margin-left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.customTooltip:hover .tooltipText {
    opacity: 0.9;
    visibility: visible;
}

.bolder-subtitle-black{
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    margin: 10px auto 10px 10px;
}
.characteristics{
    display: flex;
}
.description-text{
    font-weight: 500;
    margin-right: 10px;
}
.text{
    width: auto;
}

.gray-small{
    color: #979797;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 9px;
}

.green-small{
    color: #80b500;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 9px;
}

div.product-card div.characteristics > div.green-small {
    margin-left: -10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.gray-small-cursive{
    color: #979797;
    font-size: 16px;
    margin-top: 14px;
    font-style: oblique;
}

/* Toogle switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input[type='checkbox'] {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 9px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border: #000;
}

input:checked + .slider {
  background-color: #d0e69c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type='checkbox']:checked + .slider:before{
    background: #80b500;
}

/*Fin toggle switch*/

/* Estilos de input dashboard */

.form-group > label {
	margin-bottom: 0px;
}

.form-group > input {
	height: 1.5cm;
	border-radius: 0px;
	border-width: 1.5px;
	border-color: #e6e6e6;
}

.form-group > small {
	display: none;
}

select, input {
	height: 1cm!important;
	border-radius: 0px;
	border-width: 1.5px;
    border-color: #e6e6e6e6;
    border-style: solid;
}

.routerLink{
    cursor: pointer;
}

.routerLink:hover{
    opacity: 0.7;
}

.title-heading {
    color: #286618;
    font-size: 40px;
    font-weight: bold;
}

.negro {
    color: white;
    background: black;
    width: 4cm;
    height: 1.5cm;
    border-color: black;
    border-style: solid;
    margin: auto 10px auto 10px;
}

.verde {
    color: white;
    background: #80b500;
    width: 4cm;
    height: 1.5cm;
    border-color: #80b500;
    border-style: solid;
    margin: auto 10px auto 10px;
}

.caja-comentarios{
    border-style: solid;
    border-width: 1px;
    padding-top: 15px;
}

.comentario{
    border-style: solid;
    border-width: 1px;
}

.vacio-msg{
    margin: auto; 
    color: gray;
}

.description-text{
        font-weight: bolder;
}

.pointer{
    cursor: pointer;
}

.pointer:hover, .pointer::after{
    opacity: 0.7;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bebcbc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

.selectiongroup {
    height: 38px;
}

.ol-zoom.ol-unselectable.ol-control {
    margin-top: -35px;
    position:  absolute;
    margin-left: 50px;
}

.ol-full-screen.ol-unselectable.ol-control {
    position:  absolute;
    margin-top: -35px;
    margin-left:  10px;
}

.ol-rotate.ol-unselectable.ol-control.ol-hidden {
    display:  none;
}

.ol-attribution.ol-unselectable.ol-control.ol-collapsed.ol-logo-only {
    display:  none;
}

.ruta{
    display: flex;
}

.ruta > div{
    padding: 0 3px 0 3px;
}

.ruta > .link{
    cursor: pointer;
    color: #000;
} 

#menuMovil{
    margin-top: 80px;
}

.link-to
{
    color: #006ce5 !important;
    cursor: pointer;
    text-decoration: underline !important;
    font-style: normal !important;
}

.link-to:hover {
    color: #000 !important;
}

.producto-item .imagen{
    cursor: pointer;
}

.producto-item .titulo{
    cursor: pointer;
}


.add-comment > textarea{
    border: 1px solid #e1e1e1 !important;
}

/* Fin estilos de input dashboard */


.mydp, .mydp .headertodaybtn {
    border-radius: 0px !important;
    border-color: #e3e3e3 !important;
}


.producto-item > .imagen > img{
    height: 100% !important;
}

/* Puntuacion por estrellas */

.star-grade{
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
    font-size: 18px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}


input[type="radio"]:checked ~ label {
color: #f4eb49;
}

/* fin puntuacion por estrellas */

/* favoritos */
.favorite-check > input[type="checkbox"] {
    display: none;
}

.heart{
    color: gray;
    font-size: 26px;
    margin-right: 10px;
    display: inline;
}

input[type="checkbox"]:checked ~ .heart {
    color: #e2264d;
}
/* fin favoritos */

.content-help > label{
    color: black;
    font-size: 15px;
}

.menu-dashboard-label{
    cursor: pointer;
}

.menu-dashboard-selected{
    cursor: auto;
}

.menu-item > label.selected{
    cursor: auto;
}

.menu-item > label{
    cursor: pointer;
}


.certificates-list{
    width: 20% !important;
    height: 125px !important;
}

.certificates-list > label{
    color: black !important;
    font-size: 13px !important;
    height: 16px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.certificates-list > label > input[type='checkbox']{
    height: 12px !important;
    margin-right: 5px !important;
}

.more-images{
    width: 47% !important;
}

@media (max-width: 695px) {
    .customTooltip .tooltipText {
        top: 120%;
        left: 0;
        margin-left: 0;
    }
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
