.modal-all-container{
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    text-align: center;
    font-size: unset;
    width: 860px;
    margin-left: 70px;
}

input[type="text"]{ width: 90%; }

label, input{
    display:block;
}

input[type="file"]{ display: none; }

.modal-content{
    width: 77%;
    min-width: 290px;
    height: 38%;
    display: flex;
    flex-direction: column;
    margin-top: 143px;
}

.modal-title{
    text-align:center;
    background:#80b500;
    padding:9px;
    color:#fff;
    min-height: 58px;
    max-height: 15%;
}

.modal-body{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.close-dialog{
    cursor:pointer;
    position:absolute;
    right:0;
    font-size:1.3em;
    color:#fff;
    top:-35px;
}
