<div class="modal-all-container">
  
  <div class="modal-content">
      
    <div class=close-dialog (click)="closeDialog()">
      <span>X</span> Cerrar
    </div>
    
    <div class="modal-title">
      <h3>Información recibida</h3>
    </div>
    
    <div class="modal-body">
      <p>Hemos recibido tu solicitud de venta, nuestro equipo la revisará para su 
        aprobación en 1 día hábil y se pondrá en contacto contigo si es necesario</p>
    </div>

  </div>

</div>