.spinner{
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

body {
	width: 100%;
}

.nombre {
	margin: 10px auto;
}

app-perfil {
	padding: 0px;
}

.side-bar{
	padding: 0px;
	border-right-style: solid;
	border-right-color: #e6e6e6;
	border-right-width: 1px;
	height: 100%;
	min-width: 240px;
	max-width: 240px;
}

.padre {
	display: flex;
}

.cuerpo {
	width: 80%;
}

.menu-dashboard-label {
	padding-left: 30px;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    color: black;
    margin: 0px;
}

.menu-dashboard-selected {
	background: #80b500;
	color: white;
}

a{
	color: #006ce5 !important;
}

a:hover{
	text-decoration: underline !important;
}

.menu-dashboard-label:not(.menu-dashboard-selected):hover {
	background: #e2e2e2;
}

.row{
	margin: 0px !important;
}

.avatar {
	width: 4cm;
	height: 4cm;
	margin: 20px auto;
	
}

label > img{
	margin: 0 5px 3px 0;
}

@media (max-width: 690px) { 
	.padre {
		flex-direction: column;
	}

	.side-bar {
		max-width: 100%;
		width: 100%;
	}
	
	.cuerpo {
		max-width: 100%;
		width: 100%;
	}
}