<app-navbar></app-navbar>
<div class="navigation-bar"> 
  
  <div class="ruta"> 
      <div class="link">Dashboard</div> 
      <div class="divisor">/</div> 
      <div>{{this.dashboardNavigatorRoute}}</div>
  </div>

</div>
<!-- <div class="col-sm-12" style="margin-top: 90px;"> -->
<div class="padre">
  <!-- <div class="col-sm-3 col-12" style="padding:0px; max-width: 350px;"> -->
    <div class="side-bar" >
      <div class="row" style="text-align: center;">
        <img class="avatar" [src]="imgPerfil !== '' ? imgPerfil : 'assets/img/avatar.png'"
            (error)="this.imgPerfil='assets/img/avatar.png'"  >
      </div>
      
      <div class="row">
        <label class="nombre">{{name}}</label>
      </div>
      
      <div class="row col-ms-12">
        <label class="nombre"><a (click)="openDialog()">Cambiar contraseña</a></label>
      </div>
      
      <label (mouseover)="visible=''" (click)="abrePerfil()" [class.menu-dashboard-selected]="perfil" class="menu-dashboard-label customTooltip" ><img src="{{ perfil ? 'assets/iconosinfood/perfil_b.png' : 'assets/iconosinfood/perfil.png' }}" width="17px;" height="17px;"> PERFIL <span [ngClass]="visible" (click)="setInvisible()" class="tooltipText"><p>Aqui podrás configurar tu perfil</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
      <label (mouseover)="visible=''" (click)="abreVender()" [class.menu-dashboard-selected]="vender" class="menu-dashboard-label customTooltip" ><img src="{{ vender ? 'assets/iconosinfood/vender_b.png' : 'assets/iconosinfood/vender.png' }}" width="17px;" height="17px;"> VENDER <span [ngClass]="visible" (click)="visible='invisible'" class="tooltipText"><p>¿Como funciona la opcion de ventas?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
      <label (mouseover)="visible=''" (click)="abreSolicitar()" [class.menu-dashboard-selected]="solicitar" class="menu-dashboard-label customTooltip" ><img src="{{ solicitar ? 'assets/iconosinfood/solicitar_b.png' : 'assets/iconosinfood/solicitar.png' }}" width="17px;" height="17px;"> SOLICITAR <span [ngClass]="visible" (click)="visible='invisible'" class="tooltipText"><p>¿Como funciona la opcion de solicitudes?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
      <label (mouseover)="visible=''" (click)="abreComprar()" [class.menu-dashboard-selected]="comprar" class="menu-dashboard-label customTooltip" ><img src="{{ comprar ? 'assets/iconosinfood/comprar_b.png' : 'assets/iconosinfood/comprar.png'}}" width="17px;" height="17px;"> COMPRAR <span [ngClass]="visible" (click)="visible='invisible'" class="tooltipText"><p>¿Como funciona la opcion de comprar?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
      <label (mouseover)="visible=''" (click)="abreFavoritos()" [class.menu-dashboard-selected]="favoritos" class="menu-dashboard-label customTooltip" ><img src="{{ favoritos ? 'assets/iconosinfood/favoritos_b.png' : 'assets/iconosinfood/favoritos.png' }}" width="17px;" height="17px;"> FAVORITOS <span [ngClass]="visible" (click)="visible='invisible'" class="tooltipText"><p>¿Como funciona la seccion de favoritos?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem alias consectetur, reprehenderit illo nobis nemo et incidunt tempore consequatur.</p></span></label>
    </div>
  <!-- </div> -->

  <div class="cuerpo" *ngIf="!spinerIsVisible">
    <app-perfil [infoUser]="info" *ngIf="perfil" class="col-sm-9"></app-perfil>
    <app-vender [infoUser]="application" *ngIf="vender" class="col-sm-9"></app-vender>
    <app-solicitar [infoUser]="solicitute" *ngIf="solicitar" class="col-sm-9"></app-solicitar>
    <app-comprar *ngIf="comprar" class="col-sm-9"></app-comprar>
    <app-favoritos *ngIf="favoritos"></app-favoritos>
    <app-usuarios *ngIf="usuarios" class="col-sm-9"></app-usuarios>
  </div>

  <div class="spinner" *ngIf="spinerIsVisible" >
    <mat-progress-spinner 
        [mode]="pspinner.mode">
    </mat-progress-spinner>
  </div>
  
    
</div>

<br>
<br>
<!-- </div> -->

