<form action="#" id="cambiarContrasenaForm" class="form" style="position: relative;">
  <div id="cerrar" (click)="closeDialog()" style="cursor:pointer;position:absolute;background:rgba(0, 0, 0, 0);right:0;font-size:1.3em;color:#fff;top:-35px;">
    <span style="color:#fff;">X</span> Cerrar
  </div>
  <h3 style="text-align:center;background:#80b500;padding:20px;color:#fff;"  mat-dialog-title>Cambiar contraseña</h3>
  <div mat-dialog-content style="width:100%;text-align:center;">
    <div class="form-group col" style="display:inline-block;width:40%;text-align:left;">      
      <label for="nueva">Nueva contraseña*</label>
      <input name="nueva" type="password" [(ngModel)]="password" style="border: 1px solid #ced4da; margin-top: 5px;">
    </div>
    <div class="form-group col" style="display:inline-block;width:40%;text-align:left;">
      <label for="repetir">Repetir contraseña*</label>
      <input name="repetir" type="password" [(ngModel)]="confirmPassword" style="border: 1px solid #ced4da; margin-top: 5px;">
    </div>
    <div *ngIf="updated">
      <p>{{msg}}</p>
    </div>
  </div>
  <div mat-dialog-actions style="float: right;margin-right: 15px;margin-bottom: 20px">
    <app-btn-verde (click)="savePassword()" display="Guardar"></app-btn-verde>
  </div>
</form>