.item-producto img{
    width: 100%;
    height: 75%;;
}

.banner{
    color: olive;
}

.imgSolicitud{
    height: 100%;
}


.divImgSolicitud {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
}

a:hover{
    text-decoration: solid;
}