
  
  <div class="row banner-productos m-30">
      <div class="banner"> <h2 class="title-heading"> Solicitudes </h2> </div>
      <div class="descripcion-banner">Más de 500 solicitudes de nuestros consumidores. Revísalos ahora!</div>
  </div>
  
  <div class="row productos-mostrados">
    
    <div  *ngFor="let solicitud of solicitudes" class="col-6 col-xs-6 col-sm-6 col-md-3 pointer">
        <a href="{{siteUrl}}/marketplace-detalles-solicitud/{{solicitud.id}}">
            <div class="divImgSolicitud">
                <img class="imgSolicitud" src="{{solicitud.imagenes[0]?solicitud.imagenes[0].imagen : ''}}" alt="">
            </div>
            <div class="descripcion">
                <div class="titulo-item-producto descripcion-banner">{{solicitud.producto.nombre}} {{solicitud.variedad}}</div>
                <div class="precios-item-producto"> $ {{solicitud.precio_unidad}}</div>
            </div>
        </a>
    </div>
    
  </div>
   
  <div class="contenerdor-boton m-30">

        <a href="{{siteUrl}}/marketplace-busqueda-solicitudes">
            <button  class="btn-verde-grande fit-w fit-h pointer" style="width:292px;min-height: 43px;" >VER TODAS LAS SOLICITUDES</button>
        </a>
    </div>
  