.product-item {
    height: 350px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
    
}

.link {
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.head-busqueda{
    margin-top: 5px;
    margin-left: 4px;
    margin-bottom: 20px;
}

.filters-container {
    width: 20%;
    max-width: 250px;

}

.filters{
    max-width: 91.66%;
    border-right: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px 0px 0px;
    min-width: 155px;
    padding-left: 10px;
}

select{
    background: white;
    width: inherit;
}

.body-find{
    width: 80%;
    height: 100%;
}
.component-filters{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.select{
    width: 100%;
    height: 1cm;
    color:#a1a1af;
}
.label-range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-datarange{
    font-size: 13px;
}

.center-button{
    flex-direction: column;
    align-items: center;
}

.center-button>.btn-verde{
    font-size: 18px;
    min-height: 10px;
    min-width: 70px;
    width: 100%;
}

.subscribe-circular{
    text-align: center;
    margin-top: 100px;
}

.body-find{
    padding: 5px;
}

.header{
    margin-top: 20px;
    margin-bottom: 10px; 
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.search-bar{
    display: flex;
    padding-bottom: 10px;
}

.modalContainer {
    position: fixed;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.closeModal {
    position: absolute;
    top: 50px;
    right: 5%;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

.filters-sm[_ngcontent-c1] {
    position: absolute;
    background: white;
    padding: 10px;
    z-index: 1002;
    width: 90%;
    top: 80px;
    right: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.397), 0 2px 2px 0 rgba(0,0,0,.4), 0 1px 5px 0 rgba(0,0,0,.4);
    overflow-y: scroll;
    max-height: 600px;
}

.find-bar{
    width: inherit;
    padding-left: 10px;
}
.find-btn{
    background:  #80b500;
    color:white;
    width: 1.3cm;
    height: 1cm;
    font-size: 13px;
    border:none;
    cursor: pointer;
    background-position: 16px center;
    background-repeat: no-repeat;
    margin-left: -1px;
}

.select-propeties{
    width: 30%;
    height: 100%;
}

.request-product-button{
    width: 16%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptor-small-oblique{
    font-size: 12px;
    font-style: oblique;
    text-align: center;
}

.request-product-button>.btn-verde{
    min-width: 0px;
    min-height: 0px;
    width: 100px;
    font-size: 12px;
    height: 25px;
    padding: 0 1em;
}

.products{
    display: block;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
}


.product-card{
    display: inline-block;
    padding: 5px;
}


.product-item-for{
    display: inline-block;
    flex-direction: column;
}


.product-item>.imagen{
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    background-color: #f3f3f3;
}

.product-item img{
    width: 100%;
    margin: auto;
}

.fit{
    width: fit-content;
    margin-right: 1px;
}

.product-item>.characteristics{
    font-size: 22px;
}

.product-item>.characteristics>.gray-small{
    font-size:16px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.product-item>.characteristics{
    font-size: 22px;
}

.additional-characterist{
    padding: 0px 5px;
}

.additional-characterist>.characteristics>.description-text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.date{
    width: 190px;
}

.title-black{
    font-size: 27px;
    font-weight: bold;
    margin: auto;
}

.top-title{
    display: flex;
}

/*  Favoritos   */

.favorite-check > input[type="checkbox"] {
    display: none;
}

.heart{
    color: gray;
    font-size: 26px;
    margin-right: 10px;
    display: inline;
}

input[type="checkbox"]:checked ~ .heart {
    color: #e2264d;
}

.provider{
    text-decoration: underline;
    color: #006ce5;
}

.description-text{
    font-weight: bolder;
}

.text-price{
    margin-left: auto;
}

/* Fin Favoritos */

@media (max-width: 1006px) {
    .additional-characterist>.characteristics>.date {
        font-size: 13px;
    }
}