<form action="#" id="cambiarContrasenaForm" class="form" style="position: relative;">
  <div id="cerrar" (click)="closeDialog()" style="cursor:pointer;position:absolute;background:rgba(0, 0, 0, 0);right:0;font-size:1.3em;color:#fff;top:-35px;">
    <span style="color:#fff;">X</span> Cerrar
  </div>
  <h3 style="text-align:center;background:#80b500;padding:20px;color:#fff;"  mat-dialog-title>Datos guardados</h3>
  <div mat-dialog-content style="width:100%;text-align:center;">
    <p>Los datos se han guardado corretamente.</p>
  </div>
  <div mat-dialog-actions style="float: right;margin-right: 15px;margin-bottom: 20px">
    <app-btn-verde (click)="savePassword()" display="Cerrar"></app-btn-verde>
  </div>
</form>