.spinner{
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

.form {
	margin-top: -1px;
	margin-left: 0px;
	border-style: solid;
	border-width: 0.1px;
	border-color:  #e6e6e6;
}

.menu-item {
	padding: 0px;
}

label {
	padding-top: 8px;
	text-align: center;
	width: 100%;
	height: 45px;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-color:  #919191;
	color: black;
	vertical-align: center;
}

.selected {
	background: black;
	color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.menu-item {
	padding: 0px;
}
