<div class="spinner" *ngIf="spinerIsVisible" >
  <mat-progress-spinner 
    [mode]="pspinner.mode">
  </mat-progress-spinner>
</div>

<div *ngIf="!spinerIsVisible">
  <div class="col-sm-12" style="display: flex;padding-left: 0px;">
    <div class="col-sm-4 menu-item">
        <label (click)="openFormulary('personal')" [class.selected] = "datosPersonales">Datos personales</label>
    </div>
    <div class="col-sm-4 menu-item">
      <label (click)="openFormulary('factura')" [class.selected] = "datosFacturacion">Datos facturación</label>
    </div>
    <div (click)="openFormulary('semblanza')" class="col-sm-4 menu-item">
      <label [class.selected] = "datosSemblanza">Semblanza</label>
    </div>
  </div>
  
  <div class="col-sm-2">
  </div>
  
  <form #perfilForm="ngForm">
  <div *ngIf="datosPersonales" class="row form">
    <app-datos-personales-form [infoUser]="info" class="col-sm-12"></app-datos-personales-form>
  </div>
  
  <div *ngIf="datosFacturacion" class="row form">
    <app-datos-facturacion-form [infoUser]="info" class="col-sm-12"></app-datos-facturacion-form>
  </div>
  
  <div *ngIf="datosSemblanza" class="row form">
    <app-semblanza-form [infoUser]="info" class="col-sm-12"></app-semblanza-form>
  </div>
      
  <div class="row">  
      <div class="col-sm-12" style="text-align: right;">
        <br>
        <app-btn-negro display="Cancelar"></app-btn-negro>
        <app-btn-verde (click)="updateDataInfo()" display="Guardar"></app-btn-verde>
      </div>
      <!-- <small *ngIf=""></small> -->
  </div>
  </form>
</div>