.image-carrousel{
    width: 100%;
    height: 100%;
    display: flex;
}

.available-images{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.available-images > img{
    width: 80%;
    height: 15%;
    margin-bottom: 10px;
    cursor: pointer;
}

.imageView{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}
.imageView > img{
    width: 85%;
}

.prev{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.prev > img{
    height: 15%;
    width: 100%;
}

.next{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.next > img{
    height: 15%;
    width: 100%;
}

.certificacion-item {
    width: 88px;
    height:  80px;
    display: inline-table;
}

.col-12.certificacion-img {
    height: 74px;
    width:  100%;
}

.col-12.certificacion-img > img {
    width:  100%;
}

slideshow{
    width: 100%;
    height: 100%;
}

.link {
    cursor: pointer;
}

.certificaciones{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    height: 120px;
}

.slider{
    background-color: white;
    height: 300px;
}

.head-content{
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}


.certificaciones>img{
    width: 100px;
    height: 50px;
    border: 2px solid #e1e1e1;
}

.description-product{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}


/* Puntuacion por estrellas */

.star-grade{
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
    font-size: 18px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: #f4eb49;
}

input[type="radio"]:checked ~ label {
color: #f4eb49;
}

/* fin puntuacion por estrellas */

.calificacion{
    width: 100%;
    display: flex;
}

.formulary{
    width: 85px;
}

.link-to{
    font-size: 12px;
    color: black;
    font-weight: 700;
    text-decoration: underline;
    width: 50%;
    margin-top: 2px;
}

.buy-request{
    width: 100%;
    height: 155px;
    border: 1px solid #c7c6c6;
    display: flex;
    flex-direction: column;
    padding: 9px;
    margin-top: 10px;
}

.conversor{
    width: auto;
    height: 30%;
    display: flex;
    margin: auto;
}

.conversor>div{
    margin-top:9px;
}

.price-conversor{
    height: 100%;
    font-size: 15px;        
}

.conversor-amount{
    width: 70px;
    height: 100%;
    font-size: 12px;
    padding: 4px;
    margin-left: 10px;
}
.conversor-unity{
    width: 70px;
    font-size: 12px;
    height: 100%;
    padding: 4px;
    margin-left: 10px;
}

.text-conversor{
    margin-left: 10px;
    height: 100%;
    margin-left: 10px;
}
.text-price-conversor{
    margin-left: 10px;
    font-weight: bold;
}

.container-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px
}

.container-button>.btn-verde{
    height: 45px;
}


.middle-content{
    width: 100%;
    padding: 0px 15% 0% 5%;
}

.content-middle{
    width: 100%;
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    padding: 1%;
    display: flex;
    flex-direction: row;
}



.product-review{
    width: 50%;
    padding: 1%;
}
.review{
    word-wrap: break-word;
    text-align: justify;
    padding-top: 4%;
}
.location{
    padding: 1%;
}

.header{
    margin: 1% 0% 0% 1%;
}
.similar-products{
    padding: 0px 15% 0% 5%;
}
.content-similar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%
}


.product-item>div{
    margin-bottom: 0px;
}

.product-item>img{
    width: 100%;
    height: 47%;
}
.product-item>.characteristics{
    font-size: 22px;
}



.product-item>.characteristics{
    font-size: 22px;
}

.additional-characterist>.characteristics>.description-text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.date{
    width: 190px;
}

.title-black{
    font-size: 27px;
    font-weight: bold;
}

.product-item {
    height: 370px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    margin: 0px 0px 10px 0px;
    border-radius: 2px;
    
}


.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.head-busqueda{
    margin-top: 5px;
    margin-left: 4px;
    margin-bottom: 20px;
}

.filters{
    width: 260px;
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px 0px 20px;
}

select{
    background: white;
    width: inherit;
}

.body-find{
    width: 100%;
    height: 100%;
}
.component-filters{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.select{
    width: 100%;
    height: 1cm;
    color:#a1a1af;
}
.label-range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.label-datarange{
    font-size: 13px;
}

.center-button{
    flex-direction: column;
    align-items: center;
}

.center-button>.btn-verde{
    font-size: 18px;
    min-height: 10px;
    min-width: 70px;
    width: 100%;
}

.subscribe-circular{
    text-align: center;
    margin-top: 100px;
}

.body-find{
    padding: 5px;
}

.header{
    margin-top: 20px;
    margin-bottom: 10px; 
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}

.search-bar{
    display: flex;
    padding-bottom: 10px;
}

.filters-sm[_ngcontent-c1] {
    position: fixed;
    background: white;
    z-index: 1000;
    width: 254px;
    right: 66px;
    top: 29px;
    height: 93vh;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    overflow-y: scroll;
    max-height: 592px;
}

.find-bar{
    width: inherit;
    padding-left: 10px;
}
.find-btn{
    background:  #80b500;
    color:white;
    width: 1.3cm;
    height: 1cm;
    font-size: 13px;
    border:none;
    cursor: pointer;
    background-position: 16px center;
    background-repeat: no-repeat;
    margin-left: -1px;
}

.select-propeties{
    width: 30%;
    height: 100%;
}

.request-product-button{
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptor-small-oblique{
    font-size: 16px;
    font-style: oblique;
}

.request-product-button>.btn-verde{
    min-width: 0px;
    min-height: 0px;
    width: 100px;
    height: 22px;
}

.products{
    display: block;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
}


.product-card{
    display: inline-block;
    padding: 5px;
}


.product-item-for{
    display: inline-block;
    flex-direction: column;
}


.product-item>.imagen{
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    background-color: #f3f3f3;
}

.product-item img{
    width: 100%;
    margin: auto;
}

.fit{
    width: fit-content;
    margin-right: 1px;
}

.product-item>.characteristics{
    font-size: 22px;
}

.product-item>.characteristics>.gray-small{
    font-size:16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.product-item>.characteristics{
    font-size: 22px;
}

.additional-characterist{
    padding: 0px 5px;
}

.additional-characterist>.characteristics>.description-text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.date{
    width: 190px;
}

.title-black{
    font-size: 27px;
    font-weight: bold;
    margin: auto;
}

.top-title{
    display: flex;
}

/*  Favoritos   */

.favorite-check > input[type="checkbox"] {
    display: none;
}

.heart{
    color: gray;
    font-size: 26px;
    margin-right: 10px;
    display: inline;
}

input[type="checkbox"]:checked ~ .heart {
    color: #e2264d;
}

.provider{
    text-decoration: underline;
}

.description-text{
    font-weight: bolder;
}

.text-price{
    margin-left: auto;
}

.certificaciones-container{
    position: relative;
    height: 122px;
    overflow: hidden;
}

.certificaciones{
    width: 100%;
    position: absolute;
}
/* Fin Favoritos */
