<app-navbar></app-navbar>
<div class="navigation-bar"> 
    <div class="ruta"> 
        <div class="link" (click)="redirect(0)">Market</div> 
        <div class="divisor">/</div> 
        <div class="link" (click)="redirect(1)" >Solicitudes</div> 
        <div class="divisor">/</div> 
        <div>Detalles de la solicitud</div>
    </div>
</div>


<div class="container" *ngIf="!spinnerIsVisible" >

    <div class="row">
        <div class="col-12 col-md-6" style="height: 300px;">
            <div style="height:100%;">
                <div class="image-carrousel">
                    <div class="available-images">
                      <img *ngFor="let image of this.gallery; let i = index" [src]="image.imagen" (click)="changeImage(i)">
                    </div>
                    <div class="imageView">
                        <div class="prev"  (click)="prevImage()" >
                          <img src="{{prev}}" alt="">
                        </div>
                        <img [src]="this.actualImage">
                        <div class="next" (click)="nextImage()" >
                          <img src="{{next}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 description-product">
            <div style="height:300px;display:flex;flex-direction:column;justify-content:space-between;">
        
                <div class="bolder-subtitle-black" style="font-size: 20px;">
                    {{solicitud.producto.nombre}} {{solicitud.variedad}}
                </div>

                <div class="characteristics">
                    ${{solicitud.precio_unidad !== null ? solicitud.precio_unidad : 'No especificado'}} <div class="gray-small"> / {{ solicitud.unidad_presentacion !== null ? solicitud.unidad_presentacion.nombre : 'No especificado'}}</div>    
                </div>

                <div class="characteristics">
                <div class="description-text">Características:</div>
                <div class="text">{{solicitud.otras_caracteristicas !== null ? solicitud.otras_caracteristicas : 'No especificado' }}</div>
                </div>

                <div class="characteristics">
                    <div class="description-text">Solicitante:</div>
                    <div class="text">{{ solicitud.usuario.nombre_comercial }}</div>
                </div>

                <div class="characteristics">
                    <div class="description-text">Producción total:</div>
                    <div class="text">{{solicitud.volumen_total !== null ? solicitud.volumen_total : 'No especificado' }} {{ solicitud.unidad !== null ? solicitud.unidad.nombre : solicitud.volumen_total !== null ? '' : 'No especificado' }}</div>
                </div>
                
                <div class="characteristics">
                    <div class="description-text">Presentación:</div>
                    <div class="text">{{solicitud.presentacion !== null ? solicitud.presentacion.nombre : 'No especificado'}}</div>
                </div>

                <div class="characteristics">
                    <div class="description-text">Tamaño: </div>
                    <div class="text">{{solicitud.tamano}} {{ solicitud.unidad_presentacion !== null ? solicitud.unidad_presentacion.nombre :'No especificado'}}</div>
                </div>

                <div class="characteristics">
                    <div class="description-text">Solicitado a partir de:</div>
                    <div class="text">{{solicitud.requerido_desde}} hasta {{solicitud.requerido_hasta}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="bolder-subtitle-black col-12">Certificaciones:</div>
            <div class="row col-12 certificaciones-container">
                <div class="certificaciones">
                    <div *ngFor="let certificacion of solicitud.certificaciones" class="certificacion-item">
                        <div class="col-12 certificacion-nombre"> {{certificacion.nombre}} </div>
                        <div class="col-12 certificacion-img"> <img src="{{certificacion.imagen}}" alt=""> </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 buy-request">
            <div class="conversor">
            <div class="price-conversor"> ${{solicitud.precio_unidad}} </div> 
            <input class="conversor-amount" min="1"  [(ngModel)]="pedido.cantidad" type="number" name="" placeholder="Cantidad"> 
            <div class="text-conversor"> X </div>
            <label for="" style="margin:8px;">{{ solicitud.unidad_presentacion !== null ? solicitud.unidad_presentacion.nombre : "No especificado" }}</label>
            <div class="text-conversor"> = </div>
            <div class="text-price-conversor">  {{solicitud.precio_unidad * pedido.cantidad | currency:'$':'symbol':'0.2-2'}} </div>
            </div>
            <div class="gray-small-cursive">
            *Entrega por acordar con vendedor
            </div>
            <div class="container-button">
            <button (click)="agregarCompra()" [disabled]="pedido.cantidad < 1" class="btn-verde">Iniciar Oferta</button>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-12 col-md-6">
            <div class="bolder-subtitle-black">Reseña del producto:</div>
            <div class="review">
                {{solicitud.resena}}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="bolder-subtitle-black">Origen:</div>
            <div class="bolder-subtitle-black">{{solicitud.ciudad}}, {{solicitud.estado.nombre}}</div>
            <app-mapa  [x]="solicitud.estado.longitud" [y]="solicitud.estado.latitud"></app-mapa>
        </div>
    </div>

</div>

<div class="container" *ngIf="spinnerIsVisible" style="height: 380px; text-align: center;padding-top: 135px;">
    <mat-progress-spinner
        [mode]="pspinner.mode">
    </mat-progress-spinner>
</div>

<div class="container" *ngIf="!spinnerIsVisible">
    <div *ngIf="solicitudesSimilares.length > 0" class="row" style="min-height: 470px;">

        <div class="header">
            <div class="bolder-subtitle-black">Solicitudes similares:</div> 
        </div>
        
        <div class="product-card col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let solicitudSimilar of solicitudesSimilares">
            

            <div class="product-item">
                <div class="imagen"> 
                    <img src="{{solicitudSimilar.imagenes[0].imagen}}" alt="">
                </div>
                
                <div class="top-title">
                    <div class="title-black routerLink" (click)="detalleSolicitud( solicitudSimilar.id )" >{{solicitudSimilar.producto.nombre}}</div>                    
                </div>
                <div class="characteristics">
                    <div class="text-price"> ${{solicitudSimilar.precio_unidad}} </div> <div class="gray-small"> / {{ solicitudSimilar.unidad !== null ? solicitudSimilar.unidad.nombre : 'No especificado' }}</div>         
                </div>
                <div class="additional-characterist">
                    <div class="characteristics">
                        <div class="description-text fit">Variedad: &nbsp;</div>
                        <div class="text">{{solicitudSimilar.variedad}}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text fit">Volumen: &nbsp;</div>
                        <div class="text">{{solicitudSimilar.volumen_total}}  {{ solicitudSimilar.unidad !== null ? solicitudSimilar.unidad.nombre : 'No especificado' }}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text fit">Requerido: &nbsp;</div>
                        <div class="text date">{{solicitudSimilar.disponible_desde }} al {{solicitudSimilar.disponible_hasta }}</div>

                    </div>
                    <div class="characteristics">
                        <div class="description-text fit">Solicitante: &nbsp;</div>
                        <div class="text"> {{solicitudSimilar.usuario.name}}</div>
                    </div>
                </div>
                </div>
            </div>


    </div>    

    <div *ngIf="solicitudesSimilares.length == 0" class="row" style="min-height: 470px;">

        <div class="header">
            <div class="bolder-subtitle-black">Solicitudes similares:</div> 
        </div>
        
        <div class="pspinner" style="width: 100%; text-align: center;">
            <mat-progress-spinner
                [mode]="pspinner.mode">
            </mat-progress-spinner>
        </div>
    
    </div>    
</div>

<mat-paginator *ngIf="spinnerIsVisible"  [length]="paginatorConf.length" 
    [pageSize]="paginatorConf.pageSize"
    [pageSizeOptions]="paginatorConf.pageSizeOptions"
    (page)="page($event)">
</mat-paginator>
