<form action="#" id="comprobacionCompra" class="form" style="position: relative;">
        <div id="cerrar" (click)="closeDialog()" style="cursor:pointer;position:absolute;background:rgba(0, 0, 0, 0);right:0;font-size:1.3em;color:#fff;top:-35px;">
          <span style="color:#fff;">X</span> Cerrar
        </div>
        <h3 style="text-align:center;background:#80b500;padding:20px;color:#fff;"  mat-dialog-title>Oferta Recibida</h3>
        <div mat-dialog-content style="width:100%;text-align:center;height: 85px;line-height: 85px;">
            Hemos recibido tu solicitud de oferta, nuestro equipo se pondrá en contacto contigo.
        </div>
</form>