select{ 
    width: 100% ;
    height: 50px ;
    text-indent: 5px;
    border:#e6e1e1 1px solid;
}

.mb-12px{
    margin-bottom: 12px;
}

select:invalid { color: gray; }

input[type="radio"]{
   height: 11px !important;
}

input[type="checkbox"]{
    height: 11px !important;
 }

input[type='file'] { visibility: hidden; }

input[type="text"], label { display: block }

input[type="text"]{
    border-radius: 3px;
    height: 50px;
    border:#e6e1e1 1px solid;
    text-indent: 25px;
    font-size: 18px;
    width: 100%;
}

input[type='text'], label { display: block }

.add-certificates{
    width: 80%;
    background: white;
    border: #e6e1e1 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1cm;
    padding: 5px;
}

.add-certificates > img{
    width: 15px;
    height: 25px;
}

.certificates-list{
    position: absolute;
    background: white;
    width: 29%;
    height: 70px;
    margin-top: 1cm;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.content-image > .image-related > img {
    width: 105px;
    height: 95px;
    border: 0.7px solid #e1e1e1;
}

.imageProductor {
    width: 105px;
    height: 95px;
    border: 0.7px solid #e1e1e1;
}

.content-image-2 > .image-related > img {
    width: 105px;
    height: 95px;
    border: 0.7px solid #e1e1e1;
}

textarea{ 
    width:100%; 
    height: 140px;
    border:#e6e1e1 1px solid;
}

.link-to{
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 27px;
}

.nav-bar {
	width: 100%;
	height: 90px;
	background: #f3f3f3;
	margin: 0px;
	padding: 35px 0px 0px 30px;
	font-family: Rubik, Arial;
}

.input-precio{
    background-image: url('https://png.icons8.com/metro/22/000000/us-dollar.png');
    background-position: 8px center;
    background-repeat: no-repeat;
}

.formulary-container{
    height: 100%;
    width: 1170px;
    padding: 15px;
}

.full-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    margin-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.container-slider{
    display: flex;
    width: 125px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

.container-s1{
    width: 40%;
    height: 70px;
}

.container-s2{
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.container-s3{
    width: 25%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.container-s4{
    width: 62.5%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.container-s5{
    width: 40%;
    height: 100%;
}

.container-s6{
    width: 54%;
    height: 100%;
    display: flex;
}

.container-s6 > .content-input{
    width: 74%;
}

.container-s7{
    width: 55%;
    height: 70px;
}

.container-s8 {
    width: 20%;
    height: 100%;
    display: flex;
}

.container-s9 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-s10 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.more-images{
    width: 36%;
}

.row-s9-fix{
    height: 150px;
}

.content-input{
    width: 100%;
}

.content-input-text{
    width: 80%;
}

.content-fix-input{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 8px;
}

.content-help{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: center;
}

.content-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-image{
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.radio-form{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.content-fix{ 
    width: 45%;
    padding-bottom: 30px;
}

.content-s7-fix{
    display: flex;
    width: 100%;
}

.image-related{
    max-width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.content-image-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.s9-fix2{
    height: 200px;
}

.tooltipHelp{
    width: 340px;
    height: auto;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -130px;
    opacity: 0.9;
    display: none;
    color: white;
    background: black;
    padding: 10px;
    margin-top: 145px;
}

.content-help:hover > .tooltipHelp{
    display: inline;
}

@media  (max-width: 600px){
    .row { 
        height: 140px;
        flex-direction: column;
    }

    .special-1{ height: 218px; }
    .special-2{ height: 265px; }
    .special-3{ height: 300px; }

    .row-s9-fix{ height: 200px; }

    .container-s1{ width: 100%; }
    .container-s2{ width: 100%; }
    .container-s3{ width: 100%; }
    
    .container-s4{ 
        width: 100%; 
        height: 100%;
        flex-direction: column; 
    }
    
    .container-s5{ width: 100%; }
    .container-s6{ width: 100%; }
    .container-s7{ width: 100%; }
    .container-s8{ width: 100%; }
    .container-s9{ width: 100%; }
    .container-s10{ width: 100%; }

    .more-images{ width: 100%; }

    .more-images-2{ width: 10%}

    .image-related{ max-width: 90% }
}