button {
    color: white;
    background: #80b500;
    /* width: 4cm; */
    height: 45px;
    border-color: #80b500;
    border-style: solid;
    margin: auto 10px auto 10px;
    text-transform: uppercase;
    padding: 0 1cm;
}
