button {
	background: #80b500;
    color: white;
    font-weight: bold;
    width: 100%;
    font-family: Helvetica, Arial;
    font-size: 18px;
    height: 45px;
    border-style: solid;
    border-color: #80b500;
    margin-bottom: 22px;
}

button:hover, button:focus {
	opacity: .8;
	outline: 0;
}
