div {
	text-align: center;
    position: inherit;
    display: list-item;
    margin: 0px auto 0px auto;
    max-width: 500px;
}

h2 {
	font-family: Lato, Arial;
    font-weight: unset;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #6c93b3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

p {
	font-size: 14px;
	font-family: Rubik, Arial;
	text-align: left;
	margin: auto;
}



p {
    margin: 10px 0px 30px 0px;
    width: auto;
    font-family: Rubik, Arial;
    text-align: left;
    font-size: 14px;
}

input {
    width: 100%;
    border-style: none none solid none;
    border-width: 1px;
    font-size: 14px;
    padding-bottom: 10px;
}

input:hover, input:focus {
    outline: 0;
}
