<div>
	<h2>REGISTRO</h2>
	<hr>

	<p>Nombre de usuario</p>
	<input type="text" name="nombre">
	
	<p>Correo electrónico</p>
	<input type="email" name="email">

	<p>Contraseña</p>
	<input type="password" name="">

	<p>Confirmar contraseña</p>
	<input type="password" name="password">

	<app-captcha></app-captcha>

	<br>
	
	<app-btn-registrar></app-btn-registrar>

	<br>

	<p>¿Ya tienes una cuenta? <a href="/login">Ingresar</a></p>

</div>