button {
    color: white;
    background: black;
    /* width: 45px; */
    height: 45px;
    border-color: black;
    border-style: solid;
    margin: auto 10px auto 10px;
    text-transform: uppercase;
    padding: 0 1cm;
}
