<header>
  <div class="header-container">
    <div class="left-menu">
      <a id="movilMenu" data-toggle="collapse" *ngIf="!menuOpened" href="#menuMovil" (click)="menuOpened=!menuOpened" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="material-icons">menu</i>
      </a>
      <a id="movilMenu" data-toggle="collapse" *ngIf="menuOpened" href="#menuMovil" (click)="menuOpened=!menuOpened" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="material-icons">close</i>
      </a>
      <div class="logo">
        <a><img src="assets/img/INFOODLOGO.png" alt="INFOOD"></a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/tienda/">Tienda</a></li>
          <li><a href="productores">Productores</a></li>
          <li *ngIf='!login'><a href="login" class="active">Mi cuenta</a></li>
          <li *ngIf='login'><a href="dashboard" class="active">Mi cuenta</a></li>
        </ul>
      </nav>
    </div>
    <ul class="nav-right">
      <li id="linkLogin" *ngIf="login"><a  class="pointer" (click)="salir()">Cerrar sesión</a></li>
      <li id="linkLogin" *ngIf="!login"><a class="pointer" (click)="entrar()">Login</a></li>      
      <li><a href="/carrito"><img src="assets/img/shop-icon.jpg" alt="Carrito"></a></li>
    </ul>
  </div>
</header>
<div class="collapse" id="menuMovil">
  <div class="menuMovilContainer">
    <div class="menu">
      <div>
        <a *ngIf="login" class="pointer" (click)="salir()">Cerrar sesión</a>
        <a *ngIf="!login" class="pointer" (click)="entrar()">Login</a>    
      </div>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tienda/">Tienda</a></li>
        <li><a href="productores">Productores</a></li>
        <li *ngIf='!login'><a href="login" class="active">Mi cuenta</a></li>
        <li *ngIf='login'><a href="dashboard" class="active">Mi cuenta</a></li>
      </ul>
    </div>
  </div>
</div>