@import url('https://fonts.googleapis.com/css?family=Lato');

nav {
  font-family: 'Lato';
  font-weight: bold;
}

a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

ul {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}

ul li {
  list-style: none;
}

.header-container {
  height: 84px;
  margin: 0 auto;
  padding: 0 15px;

  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between 
}

.logo img {
  max-width: 150px;
  margin-right: 45px;
}

.left-menu {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.left-menu > nav > ul {
  padding-left: 0 !important;
}

.left-menu li a {
  padding: 0 15px;
  font-family: 'Lato';
  transition: all 0.3s;
}

.left-menu li a:hover {
  color: #9c9c9c;
}

.left-menu li a.active {
  color: #286618;
}

.nav-right a{
  font-family: 'Lato';
  font-size: 16px;
  margin-right: 40px;
}

.nav-right a img {
  width: 26px;
}

.nav-right li i {
  font-size: 30px;
}

#linkSearch {
  display: flex;
  align-items: center;
}

#linkSearch input {
  height: 30px;
}

#movilMenu {
  display: none;
}

@media (min-width: 768px) {
  .header-container {
    padding: 0 15px;
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .header-container {
    padding: 0 15px;
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .header-container {
    padding: 0 65px;
    max-width: 1720px;
  }
}

@media (max-width: 991.98px) {
  .collapse {
    width: 100%;
    height: 100vh;
    z-index: 1001;
    background: #fff;
    transition: height 0.2s;
    position: fixed;
  }

  header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .menu {
    margin-top: 30px;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0;
  }

  .menu ul li {
    border-bottom: 1px solid #ccc;
    width: 100%;
    
  }
  
  .menu ul li a{
    padding: 15px 0;
    /* height: 100%; */
    color: black;
    display: block;
    width: 100%;
    
  }

  .menu ul li a:hover {
    color: #9c9c9c;
  }

  .menuMovilContainer {
    width: 75%;
    margin: auto;
    /* font-family: 'Lato';
    font-weight: bold; */
  }
  
  .menuMovilContainer .menu li a {
    font-family: 'Lato' !important;
    font-weight: bold;
  }
  
  #linkLogin {
    display: none;
  }

  #linkSearch {
    display: none;
  }

  #movilMenu {
    display: flex;
    align-items: center;
  }
  
  #movilMenu i {
    font-size: 38px;
  }

  .left-menu > nav {
    display: none;
  }
}