<app-navbar></app-navbar>
<div class="navigation-bar"> 
    <div class="ruta"> 
        <div class="link" (click)="redirect(0)">Market</div> 
        <div class="divisor">/</div> 
        <div class="link" (click)="redirect(1)" >{{producto}}</div> 
        <div class="divisor">/</div> 
        <div>Detalles del producto</div>
    </div>    
</div>

<div class="spinner" *ngIf="spinnerIsVisible" >
    <mat-progress-spinner 
        [mode]="pspinner.mode">
    </mat-progress-spinner>
</div>

<div class="content-body" *ngIf="!spinnerIsVisible" >
    <div class="first-panel">
        <div class="container-superior">
            <div class="information">
                <div class="image-carrousel">
                    <div class="available-images">
                        <img *ngFor="let image of this.gallery; let i = index" [src]="image.imagen" (click)="changeImage(i)">
                    </div>
                    <div class="imageView">
                        <div class="prev"  (click)="prevImage()" >
                            <img src="{{prev}}" alt="">
                        </div>
                            
                        <img [src]="this.actualImage">
                            
                        <div class="next" (click)="nextImage()" >
                            <img src="{{next}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="content-information">
                    <b class="title">{{oferta.producto !== null ? oferta.producto.nombre: 'No especificado' }} {{oferta.variedad !== null ? oferta.variedad: 'No especificado'}}</b>
                    <div class="info-price">
                        <b>${{oferta.precio_unidad !== null ? oferta.precio_unidad: 'No especificado' }} </b><label class="gray">/{{oferta.unidad_presentacion !== null ? oferta.unidad_presentacion.nombre: 'No especificado'}}</label>
                    </div>
                    <div class="info">
                        <b>Características: </b> {{oferta.otras_caracteristicas !== null ? oferta.otras_caracteristicas : 'No especificado'}} 
                    </div>
                    <div class="info">
                        <b>Productor: </b> {{oferta.usuario !== null ? oferta.usuario.nombre_comercial : 'No especificado'}}          
                    </div>
                    <div class="info">
                        <b>Producción total: </b> {{oferta.volumen_total !== null ? oferta.volumen_total: 'No especificado'}} {{oferta.unidad !== null ? oferta.unidad.nombre: ''}}             
                    </div>
                    <div class="info">
                        <b>Presentación: </b> {{oferta.presentacion !== null ? oferta.presentacion.nombre: 'No especificado'}}            
                    </div>
                    <div class="info">
                        <b>Tamaño: </b> {{oferta.tamano !== null ? oferta.tamano : 'No especificado'}} {{oferta.unidad_presentacion !== null ? oferta.unidad_presentacion.nombre : ''}}
                    </div>
                    <div class="info">
                        <b>Disponible a partir de: </b>{{oferta.disponible_desde}} hasta {{oferta.disponible_hasta}}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-certifies-and-value">
            <div class="certifies">
                <div class="title-certifies">
                    <b>Certificaciones:</b>
                </div>
                <div class="container-certifies">
                    <img *ngFor="let cert of oferta.certificaciones" [src]="cert.imagen">
                </div>
            </div>
        
            <div class="buy-request">    
                <div class="conversor">
                    <div class="price-conversor"> ${{oferta.precio_unidad}} </div> 
                       <input style="font-size: 15px;margin-top: 2px;text-align: right;" class="conversor-amount" min="1"  [(ngModel)]="pedido.cantidad" type="number" name="" placeholder="Cantidad"> 
                    <div class="text-conversor"> X </div>
                    <label for="" style="margin:8px;">{{ oferta.unidad_presentacion !== null ? oferta.unidad_presentacion.nombre : 'No especificado'}}</label>
                    <div class="text-conversor"> = </div>
                    <div class="text-price-conversor">  {{oferta.precio_unidad * pedido.cantidad | currency:'$':'symbol':'0.2-2'}} </div>
                </div>
                    
                <div class="gray-small-cursive">
                    *Entrega por acordar con vendedor
                </div>
                <div class="container-button">
                    <button *ngIf="oferta.precio == 'f'" [disabled]="pedido.cantidad < 1" (click)="agregarCompra()" class="btn-verde">Iniciar Pedido</button>
                    <button *ngIf="oferta.precio == 'v'" [disabled]="pedido.cantidad < 1" (click)="agregarCompra()" class="btn-verde">Solicitar Precio Ajustado</button>
                </div>
            </div>

        </div>
        <div class="middle-content" >
            <div class="content">
                
                <div class="container-semblance">
                    <div class="title-2"><b>Reseña del Producto:</b></div>
                    <div class="body">
                        {{oferta.resena}}
                    </div>
                </div>
                <div class="container-direction">
            
                    <div class="title-2"><b>Origen:</b></div>
                    <div class="subtitle"><b>{{oferta.estado !== null && oferta.ciudad !== null ? oferta.estado.nombre +', '+oferta.ciudad : 'No especificado' }}.</b></div>
            
                    <div class="container-map">
                        <app-mapa  [x]="oferta.estado !== null ? oferta.estado.longitud : '55' " [y]="oferta.estado !== null ? oferta.estado.latitud : '-55' "></app-mapa>
                    </div>
                </div>
            </div>
        </div>

    <div class="header">
        <div class="bolder-subtitle-black">Productos similares:</div> 
    </div>
    
    <div class="container-vender" *ngIf="ofertasSimilares.length > 0">
        <div *ngFor="let product of ofertasSimilares; let i = index" class="col-12 col-sm-6 col-lg-4 col-xl-3" style="padding: 13px 5px 0px 5px;">
            <div class="producto-item">
                <div class="imagen" (click)="detalleProducto( product.id )">
                    <img src="{{product.imagenes[0].imagen}}" width="100%">
                </div>
                <div class="row estatus estatus-btn">
                    <div class="row ">
                        <div class="botones">
                            <label class="favorite-check">
                                <input type="checkbox" [(ngModel)]="product.fav"  (click)="addProductoFavorito(product.id, product.fav)" >
                                <mat-icon class="heart pointer">favorite</mat-icon>
                            </label> 
                        </div>
                    </div>
                </div>
                <div (click)="detalleProducto( product.id )" class="col-sm-12 center info titulo">
                        {{product.producto !== null ? product.producto.nombre : 'No especificado'}}
                    </div>
                <div class="col-sm-12 center info">
                    <div class="col-sm-12 center info">
                            <span style="font-size: 22px"> ${{product.precio_unidad !== null ? product.precio_unidad + '/' : 'No especificado' }} </span>   
                            <span style="font-size:16px;color:#979797;"> {{product.unidad !== null ? product.unidad.nombre : ''}}</span>
                    </div>
                </div>
                <div class="col-sm-12 info">
                    <span class="info-titulo">Variedad: </span>       
                    <span>{{product.variedad}}</span>
                </div>
                <div class="col-sm-12 info">
                    <span class="info-titulo">Volumen: </span>
                        <span>{{product.volumen_total}} {{product.unidad !== null ? product.unidad.nombre : 'No especificado'}}</span>
                </div>
                <div class="col-sm-12 info">
                    <span class="info-titulo" >Disponible: </span>
                    <span>{{product.disponible_desde }} al {{product.disponible_hasta}}</span>
                </div>
            </div>
        </div>
        
    </div>
            
        <mat-paginator  *ngIf="ofertasSimilares.length > 0"
            [length]="paginatorConf.length"
            [pageSize]="paginatorConf.pageSize"
            [pageSizeOptions]="paginatorConf.pageSizeOptions"
            (page)="page($event)">
        </mat-paginator>

    </div>
</div>