.admin-options {
	position: absolute;
}

.admin-option {
	display: flex;
	align-items: center;
}

.admin-option > span{
	margin-top: -5px;
	margin-right: 15px;
}

.title{
    font-size: 20px;
}

.title-2{
    font-size: 16px;
    margin-bottom: 10px;
}

.title{
    font-size: 20px;
}

.title-2{
    font-size: 16px;
    margin-bottom: 10px;
}

.gray{
    color: #e1e1e1;
    font-size: 17px;
}

.content-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 40px;
}

.first-panel{
    display: flex;
    flex-direction: column;
    width: 1170px;
}

.container-superior{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.information{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
}

.image-carrousel{
    width: 50%;
    height: 90%;
    display: flex;
}

.available-images{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.available-images > img{
    width: 80%;
    height: 15%;
    margin-bottom: 10px;
    cursor: pointer;
}

.imageView{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.imageView > img{
    width: 70%;
}

.content-information{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

.prev{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.prev > img{
    height: 15%;
    width: 100%;
}

.next{
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.next > img{
    height: 15%;
    width: 100%;
}

.info{
    font-size: 15px;
}

.info-price{
    font-size: 25px;
}

.certifies{
    height: 120px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title-certifies{
    width: 100%;
    height: 30%;
    font-size: 14px;
}

.container-certifies{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

.container-certifies > img {
    width: 110px;
    height: 100%;
    border: #e1e1e1 1px solid;
    margin-left: 10px;
}

.middle-content{
    width: 100%;
    height: 400px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content{
    width: 100%;
    height: 80%;
    border-top: #e1e1e1 1px solid;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.foot-page-down{
    width: 100%;
    height: 20%;
}

.container-semblance{
    width: 50%;
    height: 100%;
}

.container-semblance > .body{
    font-size: 14px;
    text-align: justify;
    overflow-wrap: break-word;
}

.container-direction{
    width: 55%;
    height: 100%;
}

.subtitle{
    font-size: 12px;
}

.comment-section{
    width: 100%;
    height: 600px;
}

.comments{
    width: 100%;
    height: auto;
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.comment-box-body{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: solid 1px #e1e1e1;
}

.comentary-product{
    margin: 0px 40px 0px 40px;
}

.comentary{
    border: solid 1px #e1e1e1;
    min-height: 60px;
    text-align: justify;
}

.add-comment{
    width: 100%;
	padding: 12px;
}

.add-comment > textarea{
    width: 100%;
}
.area-button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comentary > p{
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 10px;
}

.container-map{
    width: 100%;
    height: 65%;
}

.spinner{
    position: absolute;
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    z-index: 1000;
}

.btn-verde{
    width: 140px;
}

.btn-negro{
    width: 140px;
}

.buy-request{
    width: 50%;
    border: #e1e1e1 solid 1px;
    min-width: 320px;
}

.content-certifies-and-value{
	width: 100%;
	display: flex;
	flex-direction: row;
    margin-top: 25px;
    flex-wrap: wrap;
}

.body{
	padding-right: 20px;
}

.conversor{
    width: auto;
    height: 30%;
    display: flex;
    justify-content: center;
}

.conversor>div{
    margin-top:9px;
}

.price-conversor{
    height: 100%;
    font-size: 15px;        
}

.conversor-amount{
    width: 70px;
    height: 100%;
    font-size: 12px;
    padding: 4px;
    margin-left: 10px;
}
.conversor-unity{
    width: 70px;
    font-size: 12px;
    height: 100%;
    padding: 4px;
    margin-left: 10px;
}

.text-conversor{
    margin-left: 10px;
    height: 100%;
    margin-left: 10px;
}
.text-price-conversor{
    margin-left: 10px;
    font-weight: bold;
}

.container-button{
    display: flex;
    justify-content: center;
}

.gray-small-cursive{
    text-align: center;
}


/* Productos similares */

.producto-item{
    height:  342px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}

.nuevo-producto{
    text-align: center;
    height: 350px;
    border: 1px solid #e6e6e6;
}

.nuevo-text{
    margin: auto;
    font-size: 17px;
    color: #8080808c;
}

.nuevo-simbolo{
    margin: auto;
    color: #8080808c;
    font-size: 110px;
}

.imagen{
    height: 45%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.estatus{
    width: 100%;
    height: 68px;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #e1e1e1;   
}

.botones{
    width: 100%; 
    text-align: right;
}

.estatus-label{
    width: 50%;
    padding-left: 7px;
}

.product-item{
    width: 24%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0.5%;
}

.product-item:hover{
    opacity: 0.7;
}

.product-item>img{
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.product-item>.characteristics{
    font-size: 22px;
    margin-bottom: 12px;
}

.characteristics{
    margin-bottom: 12px
}
.additional-characterist{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2px;
    margin-bottom: 30px;
    padding-left: 7px;
}

.additional-characterist>.characteristics>.description-text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.date{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2px;
    margin-bottom: 22px;    width: 190px;
    margin-bottom: 10px;
}

.title-black{
    font-size: 27px;
    font-weight: bold;
}

.botones  img{
    margin: 4px;
}

.botones > a {
	cursor: pointer;
}

.center{
    text-align: center;
}

.info{
    padding-left: 5px;
    font-size: 12px;
}

.titulo > span{
    font-size: 30px;
    font-weight: bold;
}

a{
    color: black;
}

a:hover{
    color: black;
}

.container-vender{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

.new-application{
    width: 24%;
    height: 350px;
    margin: 0.5%
}

.gray-small{
    margin-top: 6px
}

.spinner{
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

div .titulo{
    width: 100%;
    font-size: 22px;
    font-weight: bolder;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.estatus-btn{
    display: flex;
    flex-flow: column;
    height: 40px;
}

.info-titulo{
    font-weight: bold;
}


@media (max-width: 1140px) {
    .product-item { width:33% }
    .new-application{ width: 33%; }
    .container-vender{ padding: 0% 5% 0% 5% }
}

@media (max-width: 930px) {
    .product-item { width:49% }
    .new-application{ width: 49%; }
    .container-vender{ padding: 0% 10% 0% 10% }
}

@media (max-width: 680px) {
    .product-item { width:100% }
    .new-application{ width: 100%; }
    .container-vender{ padding: 0% 20% 0% 20% }
}

/* Fin productos similares */


@media (max-width:1200px) {
    .first-panel{ width:90%; }
}

@media (max-width: 680px) {
    .first-panel{ width: 100% }
    .image-carrousel{
        width: 100%;
    }
    .content-information{
        width: 100%;
    }
    .information{
        flex-direction: column;
    }
    .container-superior{
        width: 100%;
        height: 600px;
    }
    .content{
        flex-direction: column;
    }
    .container-semblance{
        width: 100%;
        height: auto;
    }
    .container-direction{
        width: 100%;
    }   
    .ruta{
        width: 80%;
    } 
    .buy-request{ width: 100% }
    .certifies{ width: 100%; }
}