<form action="#" class="form" style="position: relative;">
    <div id="cerrar" (click)="closeDialog()" style="cursor:pointer;position:absolute;background:rgba(0, 0, 0, 0);right:0;font-size:1.3em;color:#fff;top:-35px;">
      <span style="color:#fff;">X</span> Cerrar
    </div>
    <h3 style="text-align:center;background:#80b500;padding:20px;color:#fff;"  mat-dialog-title>Comentarios al Productor</h3>
    <div *ngIf="!vacio" class="col-12" style="margin-bottom: 30px;margin-bottom: 30px;max-height: 470px;overflow-y: scroll;">
      <div class="row" *ngFor="let cal of calificaciones">
        <div class="col-2">
          <img src="{{cal.usuario_califica.perfil_avatar}}" alt="" style="margin-top: 5px;width: 50px;height: 50px;border-radius: 50%;" >
        </div>
        <div class="col-10" style="margin-left: -20px;">
          <div class="row" style="margin-bottom: 5px;font-weight:bold;">{{cal.usuario_califica.name}} {{cal.usuario_califica.ap_paterno}} {{cal.usuario_califica.ap_materno}}</div>
          <div class="row"> 
            <div class="clasificacion">
              <input id="radio1{{cal.id}}" type="radio"  value="5" disabled [checked]="cal.calificacion == '5'">
              <label for="radio1{{cal.id}}"><mat-icon>star</mat-icon></label>
              <input id="radio2{{cal.id}}" type="radio"  value="4" disabled [checked]="cal.calificacion == '4'">
              <label for="radio2{{cal.id}}"><mat-icon>star</mat-icon></label>
              <input id="radio3{{cal.id}}" type="radio"  value="3" disabled [checked]="cal.calificacion == '3'">
              <label for="radio3{{cal.id}}"><mat-icon>star</mat-icon></label>
              <input id="radio4{{cal.id}}" type="radio"  value="2" disabled [checked]="cal.calificacion == '2'">
              <label for="radio4{{cal.id}}"><mat-icon>star</mat-icon></label>
              <input id="radio5{{cal.id}}" type="radio"  value="1" disabled [checked]="cal.calificacion == '1'">
              <label for="radio5{{cal.id}}"><mat-icon>star</mat-icon></label>  
            </div>
            <div class="fecha">
                {{cal.created_at | date:'short'}}
            </div>
          </div>
          <div class="row" style="margin-bottom: 10px;">{{cal.comentario}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="vacio" class="col-12" style="margin-bottom: 30px;display: grid; height: 200px;">
      <b style="margin:auto;">No hay comentarios</b>
    </div>
    
    <div *ngIf="cargando" class="col-12" style="margin-bottom: 30px;display: grid; height: 200px;">
      <mat-progress-spinner style="margin:auto;"
          [mode]="pspinner.mode">
      </mat-progress-spinner>
    </div>

</form>