  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  .fecha{
    line-height: 27px;
    color: #5a5a5a;
    font-size: 14px;
    margin-left: 10px;
  }