.imgProducto{
    height: 100%;
}

.divImgProducto {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
}

.imgProductor {
    position: absolute;
    width: 100px;
    border-radius: 50%;
    right: 0px;
    bottom: 51px;
    border: 3px solid #80b500;
    height: 100px;
}

a:hover{
    text-decoration: solid;
}