

<div class="row banner-productos m-30">
    <div class="banner"><h2 class="title-heading"> Productos </h2> </div>
    <div class="descripcion-banner">Más de 250 productos proporcionados por nuestros productores. Revísalos ahora!</div>
</div>

<div class="row productos-mostrados">
  
  <div  *ngFor="let oferta of ofertas" class="col-6 col-xs-6 col-sm-6 col-md-3 item pointer">
    <a href="{{siteUrl}}/marketplace-detalles-producto/{{oferta.id}}">
        <div class="divImgProducto">
            <img  class="imgProducto" src="{{ oferta.imagenes[0]?oferta.imagenes[0].imagen:'' }}" alt="">
        </div>
        <img class="imgProductor" src="{{ oferta.usuario.empresa_avatar !== null ? oferta.usuario.empresa_avatar : 'http://infood.com.mx/wp-content/uploads/2018/09/default_producto.png' }}" alt="Productor">  
        <div class="descripcion">
            <div class="titulo-item-producto descripcion-banner"> {{ oferta.producto.nombre }} {{ oferta.variedad }}</div>
            <div class="precios-item-producto">$300.00</div>
        </div>
    </a>
  </div>
 
</div>
 
<div class="contenerdor-boton m-30">
    <a href="{{siteUrl}}/marketplace-busqueda-productos">
        <button class="btn-verde-grande fit-w fit-h pointer" style="width:292px;min-height: 43px;" >VER TODOS LOS PRODUCTOS</button>
    </a>
</div>

<br><br><br>

<app-vista-solicitudes></app-vista-solicitudes>