<app-navbar></app-navbar>
<div class="navigation-bar">
    <div class="ruta"> 
        <div class="link" (click)="redirect(0)">Dashboard</div> 
        <div class="divisor">/</div> 
        <div class="link" (click)="redirect(1)" >{{origin}}</div> 
        <div class="divisor">/</div> 
        <div>Detalles del Producto</div>
    </div>
</div>

<div class="spinner" *ngIf="spinerIsVisible" >
  <mat-progress-spinner 
      [mode]="pspinner.mode">
  </mat-progress-spinner>
</div>

<div class="content-body" *ngIf="!spinerIsVisible" >
  <div class="first-panel">
      <div class="container-superior">
          <div class="information">
            <div class="image-carrousel">
              <div class="available-images">
                <img *ngFor="let image of this.detalleInfo.imagenes; let i = index" [src]="image.imagen" (click)="changeImage(i)">
              </div>
              <div class="imageView">
                  <div class="prev"  (click)="prevImage()" >
                    <img src="{{prev}}" alt="">
                  </div>
                  <img [src]="this.imageCarrouselPrev">
                  <div class="next" (click)="nextImage()" >
                    <img src="{{next}}" alt="">
                  </div>
              </div>
            </div>
            <div class="content-information">
                <b class="title">{{this.detalleInfo.producto}}</b>
                <div class="info-price">
                    <b>${{this.detalleInfo.precio_unidad}} </b><label class="gray">/{{this.detalleInfo.unidad}}</label>
                </div>
                <div class="info">
                    <b>Característica: </b><label>{{this.detalleInfo.caracteristicas}}</label>
                </div>
                <div class="info">
                    <b>Productor: </b><label>{{this.detalleInfo.productor}}</label>              
                </div>
                <div class="info">
                    <b>Producción total: </b><label> {{this.detalleInfo.produccion_total}}</label>              
                </div>
                <div class="info">
                    <b>Presentación: </b><label>{{this.detalleInfo.presentacion}}</label>              
                </div>
                <div class="info">
                    <b>Tamaño: </b><label> {{this.detalleInfo.tamano}} {{this.detalleInfo.unidad}}</label>
                </div>
                <div class="info">
                    <b>Disponible a partir de: </b><label> {{this.detalleInfo.desde}} hasta {{this.detalleInfo.hasta}}</label>
                </div>
                <div class="info">
                    <b>Tipo Precio: </b><label>{{this.detalleInfo.tipo_precio}}</label>
                </div>
              </div>
          </div>
        </div>
      
        
        <div class="certifies">
          <div class="title-certifies">
            <b>Certificaciones:</b>
          </div>
          <div class="container-certifies">
            <img *ngFor="let cert of this.detalleInfo.certificados" [src]="cert">
          </div>
        </div>
      
        <div class="middle-content">
          <div class="content">
            
            <div class="container-semblance">
              <div class="title-2"><b>Reseña del Producto:</b></div>
              <div class="body">
                {{this.detalleInfo.resena}}
              </div>
            </div>
      
            <div class="container-direction">
      
              <div class="title-2"><b>Origen:</b></div>
              <div class="subtitle"><b>{{this.detalleInfo.origen}}, {{this.detalleInfo.ciudad}}.</b></div>
      
              <div class="container-map">
                <aol-map [width]="'100%'" [height]="'100%'">
                  
                    <aol-interaction-default></aol-interaction-default>
                    <aol-control-defaults></aol-control-defaults>
                    <aol-control-fullscreen></aol-control-fullscreen>
                    
                    <aol-view [zoom]="10"> 
                        <aol-coordinate [x]="this.lon" [y]="this.lat" [srid]="'EPSG:4326'"></aol-coordinate>
                    </aol-view>
                    
                    <aol-layer-image *ngIf="selectLayer === 'osm'">
                      <aol-source-raster  [operation]="operation"
                                          [lib]="lib"
                                          [operationType]="operationType"
                                          (beforeOperations)="beforeOperations($event)"
                                          (afterOperations)="afterOperations($event)">
                        <aol-source-osm></aol-source-osm>
                      </aol-source-raster>
                    </aol-layer-image>
      
                </aol-map>
              </div>
            </div>
      
          </div>
          <div class="foot-page-down">
              <button (click)="editOfert()" class="btn-verde m-10" style="height:48px">Editar</button>
              <button (click)="cancel()"  class="btn-negro m-10" style="height:48px">Cancelar</button>
          </div>
      
        </div>
      
        <div class="comment-section">
          
          <div class="comments">
            <div class="title-2"><b>Comentarios:</b></div>
            <div class="comment-box-body">
              <div class="comentary-product" *ngFor="let coment of this.detalleInfo.comentarios">
                <div class="title-2"><b>{{coment.user}} - {{coment.fecha}}</b></div>
                <div class="comentary"><p>{{coment.comentario}}</p></div>
              </div>
              <div class="add-comment">
                <div class="title-2"><b>Escribe un comentario:</b></div>
                <textarea #txtComment></textarea>
                <div class="area-button">
                  <button class="btn-verde" (click)="saveComment()" style="width:180px" >Enviar Comentario</button>
                </div>
              </div>  
            </div>
          </div>
      
        </div>
  </div>

</div>