<app-modal-confirmar *ngIf="modalDisplay" (display)="closeModal($event)" 
                     [legend]="legend" [method]="method" [id]="id_solicitate">
</app-modal-confirmar>

  <div class="spinner" *ngIf="spinerIsVisible" >
      <mat-progress-spinner 
          [mode]="pspinner.mode">
      </mat-progress-spinner>
  </div>

  <div class="search" *ngIf="!spinerIsVisible">
    <div class="container-find-bar">
      <input class="find-bar" type="text" maxlength="40" placeholder="Buscar productos" [(ngModel)]="search">
      <button class="find-btn" (click)="findIn()"></button>
    </div>
  </div>

  <div class="container-vender">
      <div *ngFor="let product of productos; let i = index" class="col-12 col-sm-6 col-lg-4 col-xl-3" style="padding: 13px 5px 0px 5px;">
          <div class="producto-item">
            <div class="imagen" (click)="detalle(i)">
              <img src="{{product.imagen}}" width="100%">
            </div>
            <div class="row estatus estatus-btn">
                <div class="row ">
                  <div class="estatus-label">
                      <label *ngIf="product.aprobado == 1" style="color:green">Aprobado</label>
                      <label *ngIf="product.aprobado == 0" style="color:#ffa382">En espera</label>
                  </div>
                  <div class="botones">
                      <a (click)="editar(i)">
                          <img src="assets/img/editar.png" width="14px">
                      </a>
                      <a (click)="eliminar(i)">
                          <img src="assets/img/eliminar.png" width="14px">
                      </a>
                  </div>
              </div>
            </div>
            <div (click)="detalle(i)" class="col-sm-12 center info titulo">
                {{product.nombre}}
              </div>
              <div class="col-sm-12 center info">
                    <span style="font-size: 22px"> ${{product.precio}}</span> / 
                    <span style="font-size:16px;color:#979797;"> {{product.unidad}}</span>
              </div>
              <div class="col-sm-12 info">
                <span class="info-titulo">Variedad: </span>
                <span>{{product.variedad}}</span>
              </div>
              <div class="col-sm-12 info">
                  <span class="info-titulo">Volumen: </span>
                <span>{{product.volumen}} {{product.unidad}}</span>
              </div>
              <div class="col-sm-12 info">
                <span class="info-titulo">Disponibilidad: </span>
                <span>{{product.disponibleDesde}} al {{product.disponibleHasta}}</span>
              </div>
            </div>
        </div>

  </div>

<mat-paginator [length]="paginatorConf.length" *ngIf="!spinerIsVisible"
    [pageSize]="paginatorConf.pageSize"
    [pageSizeOptions]="paginatorConf.pageSizeOptions"
    (page)="page($event)">
</mat-paginator>