.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper {
  width: 50%;
}
@media screen and (max-width: 800px) {
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper {
    width: 100%;
  }
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial {
  background: #ffffff;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-text {
  
  
  
  background: #ffffff;
  color: #444444;
  padding: 10px 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-round-image-frame {
  border-radius: 128px;
  width: 128px;
  height: 128px;
}
@media screen and (max-width: 800px) {
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-round-image-frame {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-round-image-frame {
    width: 50px;
    height: 50px;
  }
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper {
  zoom: 1;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper:before {
  content: '';
  display: block;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-user,
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-user {
  width: 33%;
  float: left;
  padding: 10px 20px 10px 10px;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-user img,
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-user img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-user img,
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-user img {
    width: 50px;
  }
}
@media screen and (max-width: 480px) {
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-user img,
  .so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-user img {
    width: 50px;
  }
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-text,
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-text {
  margin-left: 33%;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-right .sow-testimonial-user {
  width: 33%;
  float: right;
  padding: 10px 10px 10px 20px;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-right .sow-testimonial-user img {
  width: 128px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-right .sow-testimonial-text {
  margin-right: 33%;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-above .sow-testimonial-user,
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-below .sow-testimonial-user {
  width: auto;
  padding: 10px;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-above .sow-testimonial-user img,
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-below .sow-testimonial-user img {
  width: 128px;
  height: auto;
}
.so-widget-sow-testimonials-default-78d98ca9d3ea .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-below .sow-testimonial-user {
  padding: 10px;
}