.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel {
  margin-bottom: 10px;
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header {
  position: relative;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  background-color: #ffffff;
  color: #0c0c0c;
  text-align: left;
  
  
  
  
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-title {
  display: inline-block;
  width: calc(100% - 20px);
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel .sow-accordion-panel-header .sow-accordion-open-close-button {
  float: right;
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel:not(.sow-accordion-panel-open) > .sow-accordion-panel-header .sow-accordion-close-button {
  display: none;
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel.sow-accordion-panel-open > .sow-accordion-panel-header .sow-accordion-open-button {
  display: none;
}
.so-widget-sow-accordion-default-76825fd0ecf9 .sow-accordion .sow-accordion-panel .sow-accordion-panel-content .sow-accordion-panel-border {
  background-color: #ffffff;
  padding: 15px 30px 15px 30px;
  
  
  
  overflow: auto;
}