.modal-all-container{
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content{
    width: 40%;
    min-width: 290px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 143px;
}

.modal-title{
    text-align:center;
    background:#80b500;
    padding:9px;
    color:#fff;
    min-height: 58px;
    max-height: 15%;
}

.modal-body{
    width: 100;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.formulary{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-height: 140px;
}


.close-dialog{
    cursor:pointer;
    position:absolute;
    right:0;
    font-size:1.3em;
    color:#fff;
    top:-35px;
}

.more-images{
    max-width: 100%;
}

.foot-page-down {
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
}

.description-legend{
    text-align: center;
    font-size: 24px;
}

.hidden{
    visibility: hidden;
}