<div class="modal-all-container" [ngClass]="{ 'hidden':isConfirm }" >
  
    <div class="modal-content">
        
      <div class=close-dialog (click)="closeDialog()">
        <span>X</span> Cerrar
      </div>
      
      <div class="modal-title">
        <h3>Confirmar</h3>
      </div>
      
      <div class="modal-body">
        <div class="description-legend">
            {{this.legend}}
        </div>
        <div class="foot-page-down">
            <button (click)="doActions()" class="btn-verde m-10 f-s-18" cdkFocusInitial>Aceptar</button>
            <button (click)="closeDialog()" class="btn-negro m-10 f-s-18">Cancelar</button>
        </div>
  
      </div>
  
    </div>
  
  </div>