.spinner{
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

.container{
    margin-top:25px;
}

.link {
    cursor: pointer;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar p{
    margin: 0;
}

.navigation-bar p:first-child {
    margin-left: 3%;
}

.navigation-bar p:last-child {
    margin-right: 3%;
}

.search-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select{
    border: 1px solid #e3e3e3;
    text-indent: 10px;
    color:gray;
    height: 45px !important;
}

.search-section > select{
    width: 40%;
    height: 45px;
}

.negrita {
    font-weight: bold;
}

.search-section > .btn-verde{
    min-width: 140px;
    min-height: 45px;
}

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productor-info:last-child {
    margin-bottom: 20px;
}

.productor-info > div{
    display: flex;
    border: 1px solid #e3e3e3;
    width: 100%;
    /* height: auto; */
    flex-direction: row;
    padding: 10px;
    margin-top: 20px;
}

.profile-image{
    width: 30%;
    margin-top: 15px;
    height: 100%;
    max-height: 200px;
    /* height: 145px; */
}

.productor-container-information{
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.header{
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: bold;
}

.information{
    height: 30%;
    text-align: justify;
    margin: 10px 0px 10px 0px;
}

.information span {
    position: absolute;
    right: 0;
    display: none;
    bottom: 4px;
    z-index: 10;
    background: #fff;
}

.anotations{
    display: flex;
    justify-content: flex-start;
}

.anotations > div:not(:first-child) {
    margin-left: 15px;
}

.ranking{
    color: #999;
    font-size: 18px;
}

.ranking .y {
    color: yellow;
}

.ranking div {
    display: inline-block;
}

.container-button-negro{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-button-negro > .btn-negro{
    min-width: 140px;
    min-height: 45px;
}

.btnDetail {
    cursor: pointer;
}

@media (max-width: 767.98px) { 
    .anotations {
        flex-direction: column;
    }

    .anotations > div:not(:first-child) {
        margin-left: 0px;
    }
    
    .profile-image {
        width: 50%;
    }

    .search-section{
        flex-direction: column;
    }

    .search-section select {
        width:100%;
        margin-bottom: 10px;
    }

    .information {
        max-height: 100px;
        overflow: hidden;
        position: relative;
    }

    .information span {
        display: block;
    }
}