<app-navbar></app-navbar>
<div class="navigation-bar">
    <p class="selected-navigation-bar"><span (click)="redirect(0)" class="link text-muted">Market / </span> <span class="text-muted"> Productores /</span></p>
  </div>
<div class="col-sm-12">

<div class="spinner" *ngIf="spinerIsVisible" >
  <mat-progress-spinner 
    [mode]="pspinner.mode">
  </mat-progress-spinner>
</div>

<div class="container" *ngIf="!spinerIsVisible">
  <div class="search-section">
    
    <select name="select-region" [(ngModel)]="this.selectedState">
      <option value="0" selected> ¿En qué estado? </option>
      <option value="{{state.stateId}}" *ngFor="let state of states"> {{state.stateName}} </option>
    </select>
    
    <select name="select-category" [(ngModel)]="this.selectedCategory">
        <option value="0" selected> Seleccionar categoría </option>
        <option value="{{category.categoryId}}" *ngFor="let category of categories" > {{category.categoryName}} </option>
    </select>
    
    <button class="btn-verde" (click)="buscar()">Buscar</button>
    
  </div>

  <div class="body-container">
    <div class="productor-info"  *ngFor="let productor of productors">
      <div>
        <img *ngIf="productor.productorImage" src="{{productor.productorImage}}" alt="" class="profile-image">

        <div class="productor-container-information">
          <div class="header">
              <div class="title"><h3>{{productor.productorName}}</h3></div>
              <div class="anotations" *ngIf="productor.productorCategoryName"> 
                <div class="ranking"><div *ngFor="let calif of five" [ngClass]="{y:calif <= productor.productorCalif}">★</div></div>   
                <div class="category"><span class="negrita">Categoría:</span> {{productor.productorCategoryName}}</div>
                <div class="region"><span class="negrita">Estado:</span> {{productor.productorStateName}}</div>
              </div>
          </div>
          <p class="information" *ngIf="productor.productorSemblance">
            {{productor.productorSemblance}}<span>...</span>
          </p>  
          <div class="container-button-negro" *ngIf="productor.productorId">
            <button (click)="productorDetail(productor.productorId)" class="btn-verde btnDetail">Ver más información</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="productors.length == 0"><p>No hay productores</p></div>

  </div>

  <mat-paginator  [length]="paginatorConf.length"
                  [pageSize]="paginatorConf.pageSize"
                  [pageSizeOptions]="paginatorConf.pageSizeOptions"
                  [pageIndex]="paginatorConf.pageIndex"
                  (page)="page($event)">
  </mat-paginator>

</div>
</div>