.spinner{
    width: 100%; 
    height: 100%;  
    display: flex;
    justify-content: center;
    padding-top: 10%;
    /*background: rgba(255,255,255, 0.7);*/
    z-index: 1000;
}

.header{
    width: 100%;
}

.contain-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #e3e3e3;
    width: 100%;
}

.contenedor {
    width: 1170px;
    margin: auto;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar p{
    margin: 0;
}

.navigation-bar p:first-child {
    margin-left: 3%;
}

.navigation-bar p:last-child {
    margin-right: 3%;
}

.image {
    width: 50%;
    height: 100%;
}

.image > img{
    width: 100%;
    height: 300px;
    padding: 0px 15px 0px 15px;
}

.information{
    width: 49%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: bold;
    color:#000;
    margin-right: 5px;
}

.center-text{
    text-align: center;
}
.category{
    display: flex;
}

.ranking{
    color:gray;
}

.ranking .y{
    color: yellow !important;
}

.ranking div {
    display: inline-block;
}

.body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.offert-products{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
}

.product-item{
    width: 100%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 258px;
}

.link {
    cursor: pointer;
}

.product-item>div{
    margin-bottom: 10px;
}

.additional-characterist {
    cursor: pointer;
    width:90%;
}

.product-item>img{
    width: 100%;
    height: 50%;
    cursor: pointer;
}
.product-item>.characteristics{
    font-size: 22px;
}

.product-item>.characteristics>.gray-small{
    font-size:16px;
    margin-top: auto;
    margin-bottom: auto;
}

.product-item>.characteristics{
    font-size: 22px;
}

.additional-characterist>.characteristics>.description-text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.text{
    font-size: 14px;
}

.additional-characterist>.characteristics>.date{
    width: 190px;
}

.title-black{
    font-size: 27px;
    font-weight: bold;
}

@media (max-width: 991.98px) { 

    .information {
        width: 80%;
    }

}

@media (max-width: 767.98px) {
    .contain-header {
        flex-direction: column;
    }

    .information {
        width: 100%;
    }

    .image {
        width: 100%;
    }

}