<app-navbar></app-navbar>
<div class="navigation-bar">
        <p class="selected-navigation-bar"> <span (click)="redirect(0)" class="link text-muted">Market / </span> <span (click)="redirect(1)" class="link text-muted">Productores / </span> <span class="text-muted"> Detalles del productor</span></p>
      </div>
<div class="col-sm-12">

<div class="spinner" *ngIf="spinerIsVisible" >
    <mat-progress-spinner 
        [mode]="pspinner.mode">
    </mat-progress-spinner>
</div>
<div class="contenedor" *ngIf="!spinerIsVisible">

  <div class="header">
    
    <div class="contain-header">
        <div class="image">
            <img *ngIf="this.productor" src="{{this.productor.image}}" alt="">
        </div>
      
        <div class="information" *ngIf="this.productor">
            <div class="title">{{this.productor.name}}</div>
            <div class="ranking"><div *ngFor="let calif of five" [ngClass]="{y:calif <= this.productor.calif}">★</div></div>   
            <div class="category"><div class="title">Categoría:</div> {{this.productor.categoryName}}</div>
            <div class="category"><div class="title">Estado:</div> {{this.productor.stateName}}</div>
            <div class="category"><div class="title">Miembro desde:</div> {{this.productor.birthday}}</div>
            <div class="category">
              <p> <b>Reseña:</b> {{this.productor.semblance}} </p>
            </div>
        </div>
    </div>

  </div>

  <div class="body">
    <div class="title center-text">Productos ofertados</div>

    <div *ngIf="noProducts" class="center-text">No hay productos ofertados</div>
    <div class="offert-products row" *ngIf="this.productor">
        <div class="col-md-4 col-sm-4 col-xl-3" *ngFor="let product of this.productor.products">
            <div class="product-item">
                <img src="{{product.imagen}}" (click)="productDetail(product.id)" alt="">
                <div class="title-black">{{product.nombre}}</div>
                <div class="characteristics text-price">
                    ${{product.precio}} <div class="gray-small"> /{{product.unidad}}</div>         
                </div>
                <div class="additional-characterist" (click)="productDetail(product.id)">
                    <div class="characteristics">
                        <div class="description-text">Variedad:</div>
                        <div class="text">{{product.variedad}}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text">Volumen:</div>
                        <div class="text">{{product.volumen}} {{product.unidad}}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text">Disponible:</div>
                        <div class="text date">{{product.disponibleDesde}} al {{product.disponibleHasta}}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text">Proovedor:</div>
                        <div class="text">{{product.proveedor}}</div>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </div>

</div>
</div>