/* all */
::-webkit-input-placeholder { color:#FFFFFF; }
::-moz-placeholder { color:#FFFFFF; } /* firefox 19+ */
:-ms-input-placeholder { color:#FFFFFF;} /* ie */
input:-moz-placeholder { color:#FFFFFF;}