.div-avatar{
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	position:relative;
	display: inline-block;
	cursor: pointer;
}

#imgPerfilInput {
	display: inline-block;
	cursor:pointer;
	height: 200px;
	right: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	width: 200px;
}

.admin-options {
	position: absolute;
}

.admin-option {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

select {
	border-radius: 0;
	border-color: #e3e3e3;
}

.admin-option > span{
	margin-top: -5px;
	margin-right: 15px;
}