<br>
<br>

<div class="col-sm-12 div-avatar">
	<div *ngIf='ajeno'  class="admin-options">
		<div class="admin-option">
			<span>Estatus</span>
			<label class="switch">
					<input (click)="userStatus()" [disabled]="deshabilitado=='btnEstatus'" [(ngModel)]="this.dataSchema.estatus" type="checkbox">
					<span class="slider round"></span>
			</label>
		</div>
		<div class="admin-option">
			<span>Admin</span>
			<label class="switch">
					<input (click)="userStatusAdmin()" [disabled]="deshabilitado=='btnAdmin'" [(ngModel)]="this.dataSchema.administrador" type="checkbox">
					<span class="slider round"></span>
			</label>
		</div>
	</div>
	<img class="imgPerfil" [src]="imgPerfil !== '' ? imgPerfil : 'assets/img/avatar.png' " 
		(click)="simulateImageEnter()" (error)="this.imgPerfil='assets/img/avatar.png' " >
	<input type="file" name="imgPerfil" id="imgPerfilInput" (change)="previewPerfilImage($event,username,email,email2,phone,phone2)" #inputImage>
</div>

<br>
<br>

<div class="row">
	
	<div class="col-sm-6">
		<div class="form-group">
			<label for="usuario">Usuario*</label>
			<input type="text" [(ngModel)]="this.dataSchema.nickname" required #username="ngModel" (focusout)="this.saveSchema(username,email,email2,phone,phone2)" class="form-control" name="usuario">
			<small *ngIf="username.invalid" class="form-text text-danger d-block">Este campo es obligatorio</small>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="caracteristica">¿Qué característica te describe mejor?</label>
			<select [(ngModel)]="this.dataSchema.user_type" (change)="cambiarTipoUsuario()" class="form-control" name="pais" id="caracteristica">
				<option value="0">Selecciona una característica</option>
				<option *ngFor="let user_type of user_types" [selected]="this.dataSchema.user_type == user_type.id" value="{{user_type.id}}">{{user_type.nombre}}</option>
			</select>
			<small id="caracteristicaHelp" class="form-text text-muted">Este campo es obligatorio</small>
		</div>
	</div>

</div>

<div class="row">
	
	<div class="col-sm-4">

		<div class="form-group">
			<label for="nombre">Nombre(s)</label>
			<input type="text" class="form-control" [(ngModel)]="this.dataSchema.first_name" (focusout)="this.saveSchema(username,email,email2,phone,phone2)" name="nombre">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>

	</div>
	
	<div class="col-sm-4">
		<div class="form-group">
			<label for="apellido_paterno">Apellido paterno</label>
			<input type="text" class="form-control" [(ngModel)]="this.dataSchema.last_name" (focusout)="this.saveSchema(username,email,email2,phone,phone2)" name="apellido_paterno">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label for="apellido_materno" >Apellido materno</label>
			<input type="text" class="form-control" [(ngModel)]="this.dataSchema.secont_last_name" (focusout)="this.saveSchema(username,email,email2,phone,phone2)" name="apellido_materno">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="correo">Correo electrónico*</label>
			<input type="email" class="form-control" name="correo" #email="ngModel" required email [(ngModel)]="this.dataSchema.billing_email" (focusout)="this.saveSchema(username,email,email2,phone,phone2)">
			<small *ngIf="email.errors?.required" class="form-text text-danger d-block">Este campo es obligatorio</small>
			<small *ngIf="email.errors?.email" class="form-text text-danger d-block">Correo inválido</small>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="correo2">Correo electrónico alternativo</label>
			<input type="email" class="form-control" #email2="ngModel" email name="correo2"  [(ngModel)]="this.dataSchema.email_alt" (focusout)="this.saveSchema(username,email,email2,phone,phone2)">
			<small *ngIf="email2.errors?.email && email2.touched" class="form-text text-danger d-block">Correo inválido</small>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="telefono">Teléfono</label>
			<input type="tel" maxlength="10" tel minlength="7" #phone="ngModel" class="form-control" name="telefono"  [(ngModel)]="this.dataSchema.phone" (focusout)="this.saveSchema(username,email,email2,phone,phone2)">
			<small *ngIf="phone.invalid" class="form-text text-danger d-block">Valor inválido</small>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="celular">Celular</label>
			<input type="tel" maxlength="10" minlength="7" #phone2=ngModel class="form-control" name="celular"  [(ngModel)]="this.dataSchema.celphone" (focusout)="this.saveSchema(username,email,email2,phone,phone2)">
			<small *ngIf="phone2.invalid && phone2.touched" class="form-text text-danger d-block">Valor inválido</small>
		</div>
	</div>
</div>

<br>
<br>

<div class="row">
	<div class="col-sm-12"> 
		<a  href="" class="customTooltip link-to">¿Por qué te pedimos estos datos? <span class="tooltipText tooltipBottom"><p>Te pedimos que nos cuentes acerca de ti y de tu actividad para poder acercarte con mayor certeza a los mercados de alto valor </p></span></a>
	</div>
</div>

<br>
<br>
