.item-producto img{
    width: 100%;
    height: 75%;;
}


/* Estilos de item */

.producto-item{
    height:  342px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}

.nuevo-producto{
    text-align: center;
    border-color: #e6e6e6;
}

.nuevo-text{
    margin: auto;
    font-size: 17px;
    color: #8080808c;
}

.nuevo-simbolo{
    margin: auto;
    color: #8080808c;
    font-size: 110px;
}

.imagen{
    height: 45%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.estatus{
    width: 100%;
    height: 1cm;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    display: flex;
}

.botones{
    width: 100%; 
    text-align: right;
}

.estatus-label{
    width: 50%;
    margin-top: 7px;
    padding-left: 7px;
}

.botones img{
    margin: 4px;
}

.botones > a {
	cursor: pointer;
}

.center{
    text-align: center;
}

.info{
    padding-left: 5px;
    font-size: 14px;
}

.titulo > span{
    font-size: 30px;
    font-weight: bold;
}