<app-navbar></app-navbar>
<div class="navigation-bar">
    <div class="ruta"><p class="selected-navigation-bar">Market</p>/Productos/</div>
</div>
<div class="col-sm-12">


<div class="container productos" >

<div class="row banner-productos m-30">
    <div class="banner">Productos</div>
    <div class="descripcion-banner">Más de 250 productos proporcionados por nuestros productores. Revísalos ahora!</div>
</div>

<div class="row productos-mostrados m-30">
  
  <div class="item-producto">
      <img src="assets/img/cebollas.png" alt="">
      <div class="descripcion">
          <div class="titulo-item-producto">Cebollas</div>
          <div class="precios-item-producto">$300.00</div>
          <div class="consultar-item-producto">Consultar</div>
      </div>
  </div>
  
  <div class="item-producto">
    <img src="assets/img/salsas.png" alt="">
    <div class="descripcion">
        <div class="titulo-item-producto">Cebollas</div>
        <div class="precios-item-producto">$300.00</div>
        <div class="consultar-item-producto">Consultar</div>
    </div>
  </div>

  <div class="item-producto">
    <img src="assets/img/frutos-rojos.png" alt="">
    <div class="descripcion">
        <div class="titulo-item-producto">Cebollas</div>
        <div class="precios-item-producto">$300.00</div>
        <div class="consultar-item-producto">Consultar</div>
    </div>
  </div>
  
  <div class="item-producto">
    <img src="assets/img/durazno.png" alt="">
    <div class="descripcion">
        <div class="titulo-item-producto">Cebollas</div>
        <div class="precios-item-producto">$300.00</div>
        <div class="consultar-item-producto">Consultar</div>
    </div>
  </div>  
</div>
 
<div class="contenerdor-boton m-30">
    <button class="btn-verde f-s-25 w-600 h-50">Ver todos los Productos</button>
</div>

</div>
</div>