<form>
    <div id="cerrar" (click)="closeDialog()" style="cursor:pointer;position:absolute;background:rgba(0, 0, 0, 0);right:0;font-size:1.3em;color:#fff;top:-35px;">
        <span style="color:#fff;">X</span> Cerrar
    </div>
    <h3 style="text-align:center;background:#80b500;padding:20px;color:#fff;"  mat-dialog-title>Calificación y Comentarios</h3>
    <div class="form-group">
        <div class="col-12" style="text-align: center; margin-top:30px; margin-bottom: 30px;"><b>Tu opinión es muy valiosa para nosotros</b> </div>
        ¿Cuál es tu opinión en relación a tu compra?
        <br>
        <textarea [(ngModel)]="comentario" name="comentario" type="email" class="form-control"></textarea>
    </div>
    <div class="form-group">
        ¿Qué calificación le das al vendedor?
        <br>
        <p class="clasificacion">
        <input [(ngModel)]="calificacion" name="calificacion"  id="radio1" type="radio" name="estrellas" value="5"><!--
        --><label for="radio1"><mat-icon>star</mat-icon></label><!--
        --><input id="radio2" type="radio" name="estrellas" value="4"><!--
        --><label for="radio2"><mat-icon>star</mat-icon></label><!--
        --><input id="radio3" type="radio" name="estrellas" value="3"><!--
        --><label for="radio3"><mat-icon>star</mat-icon></label><!--
        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
        --><label for="radio4"><mat-icon>star</mat-icon></label><!--
        --><input id="radio5" type="radio" name="estrellas" value="1"><!--
        --><label for="radio5"><mat-icon>star</mat-icon></label>
        </p>
    </div>

    <div class="form-group" style="text-align: center;">
        <button class="verde"  (click)="calificar()" >Calificar</button>
    </div>

  </form>