<app-navbar></app-navbar>
<div class="navigation-bar"> 
    <div class="ruta"> 
        <div class="link" (click)="redirect(0)">Market</div> 
        <div class="divisor">/</div> 
        <div class="link" (click)="redirect(1)" >Compras</div> 
        <div class="divisor">/</div> 
        <div>Detalles del producto</div>
    </div>    
</div>
<div class="spinner" *ngIf="!oferta" >
    <mat-progress-spinner 
        [mode]="pspinner.mode">
    </mat-progress-spinner>
</div>
<div class="content-body" *ngIf="oferta" >
    <div class="first-panel">
        <div *ngIf="auth.esAdmin()" class="admin-option">
                <span>Completado</span>
                <label class="switch">
                    <input [(ngModel)]="completado" (change)="completar()" type="checkbox" [checked]="completado">
                    <span class="slider round"></span>
                </label>
        </div>
        <div class="container-superior">
            <div class="information">
                <div class="image-carrousel">
                    <div class="available-images">
                            <img *ngFor="let image of imageUrls; let i = index" [src]="image" (click)="changeImage(i)">
                    </div>
                    <div class="imageView">
                        <div class="prev"  (click)="prevImage()" >
                            <img src="{{prev}}" alt="">
                        </div>
                            
                        <img [src]="this.imageCarrouselPrev">
                            
                        <div class="next" (click)="nextImage()" >
                            <img src="{{next}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="content-information">
                    <b class="title">{{oferta.producto !== null ? oferta.producto.nombre: 'No especificado' }} {{oferta.variedad !== null ? oferta.variedad: 'No especificado'}}</b>
                    <div class="info-price">
                        <b>${{oferta.precio_unidad !== null ? oferta.precio_unidad: 'No especificado' }} </b><label class="gray">/{{oferta.unidad_presentacion !== null ? oferta.unidad_presentacion.nombre: 'No especificado'}}</label>
                    </div>
                    <div class="info">
                        <b>Características: </b><label>{{oferta.otras_caracteristicas !== null ? oferta.otras_caracteristicas : 'No especificado'}}</label>
                    </div>
                    <div class="info">
                        <b>Productor: </b><label>{{oferta.usuario !== null ? oferta.usuario.nombre_comercial : 'No especificado'}}</label>              
                    </div>
                    <div class="info">
                        <b>Producción total: </b><label>{{compra.unidades !== null ? compra.unidades: 'No especificado'}} {{oferta.unidad !== null ? oferta.unidad.nombre: ''}}</label>              
                    </div>
                    <div class="info">
                        <b>Presentación: </b><label>{{oferta.presentacion !== null ? oferta.presentacion.nombre: 'No especificado'}}</label>              
                    </div>
                    <div class="info">
                        <b>Tamaño: </b><label> {{oferta.tamano !== null ? oferta.tamano : 'No especificado'}} {{oferta.unidad_presentacion !== null ? oferta.unidad_presentacion.nombre : ''}}</label>
                    </div>
                    <div class="info">
                        <b>Tamaño: </b><label> {{oferta.tamano !== null ? oferta.tamano : 'No especificado'}} {{oferta.unidad_presentacion !== null ? oferta.unidad_presentacion.nombre : ''}}</label>
                    </div>
                    <div class="info">
                            <b>Requerido a partir de: </b><label>{{oferta.disponible_desde}} hasta {{oferta.disponible_hasta}}</label>
                    </div>
                    <div class="info">
                        <b>Tipo precio:</b> {{oferta.precio=='f' ? 'Fijo' : 'Variado'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="content-certifies-and-value">
            <div class="certifies" 
                [ngClass]="{ 'w100p': !this.completado , 'width43p': this.completado }">
                <div class="title-certifies">
                    <b>Certificaciones:</b>
                </div>
                <div class="container-certifies">
                    <img *ngFor="let cert of compra.certificaciones" [src]="cert.imagen">
                </div>
            </div>
        
            <div *ngIf="this.completado" class="buy-request">    
                <div style="text-align: center;">
                    <b> Tu compra fue realizada con éxito, 
                    por favor califica el proceso de compra.</b>
                </div>
                <br>
                <div class="calificar" style="text-align: center;">
                    <button (click)="calificar()" class="verde" style="width: fit-content;padding: 15px;" >Realizar Calificación</button>
                </div>
            </div>
        </div>
        <div class="middle-content" >
            <div class="content">
                
                <div class="container-semblance">
                    <div class="title-2"><b>Reseña del Producto:</b></div>
                    <div class="body">
                        {{oferta.resena}}
                    </div>
                </div>
                <div class="container-direction">
            
                    <div class="title-2"><b>Origen:</b></div>
                    <div class="subtitle"><b>{{oferta.estado.nombre ? oferta.estado.nombre +', '+oferta.ciudad : 'No especificado' }}.</b></div>
            
                    <div class="container-map">
                        <app-mapa  [x]="oferta.estado.longitud" [y]="oferta.estado.latitud"></app-mapa>
                    </div>
                </div>
            </div>
        </div>

        <div class="comment-section" >
            <div class="comments">
                <div class="title-2"><b>Comentarios:</b></div>
                <div class="comment-box-body">
                    <div class="comentary-product" *ngFor="let comentario of compra.comentarios">
                        <div class="title-2"><b>{{comentario.usuario.name}} - {{comentario.fecha}}</b></div>
                        <div class="comentary"><p>{{comentario.comentario}}</p></div>
                    </div>
                    <div class="add-comment">
                        <div class="title-2"><b>Escribe un comentario:</b></div>
                        <textarea  [(ngModel)]="comentario"></textarea>
                        <div class="area-button">
                            <button class="btn-verde" (click)="enviarComentario()" style="width:180px" >Enviar Comentario</button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>