div#n2-ss-0 .n2-ss-layer .n2-font-f687633e6e12592f5b048b032bb0aea5-hover{font-family: 'Lato';color: #ffffff;font-size:281.25%;text-shadow: none;line-height: 1.2;font-weight: bold;font-style: normal;text-decoration: none;text-align: center;letter-spacing: normal;word-spacing: normal;text-transform: none;font-weight: 800;text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.8) !important;}
div#n2-ss-0 .n2-ss-layer .n2-font-f687633e6e12592f5b048b032bb0aea5-hover:HOVER, div#n2-ss-0 .n2-ss-layer .n2-font-f687633e6e12592f5b048b032bb0aea5-hover:ACTIVE, div#n2-ss-0 .n2-ss-layer .n2-font-f687633e6e12592f5b048b032bb0aea5-hover:FOCUS{}

div#n2-ss-0 .n2-style-7aa5eba685da79db21ee440cef2f2ce6-heading{background: #ffffff;background: RGBA(255,255,255,0);opacity:1;padding:0.5em 0.5em 0.5em 0.5em ;box-shadow: none;border-width: 0px;border-style: solid;border-color: #000000; border-color: RGBA(0,0,0,1);border-radius:0px;}
div#n2-ss-0 .n2-style-7aa5eba685da79db21ee440cef2f2ce6-heading:Hover, div#n2-ss-0 .n2-style-7aa5eba685da79db21ee440cef2f2ce6-heading:ACTIVE, div#n2-ss-0 .n2-style-7aa5eba685da79db21ee440cef2f2ce6-heading:FOCUS{}

