.modal-all-container{
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]{ width: 90%; }

label, input{
    display:block;
}

input[type="file"]{ display: none; }

.modal-content{
    width: 40%;
    min-width: 290px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 143px;
}

.modal-title{
    text-align:center;
    background:#80b500;
    padding:9px;
    color:#fff;
    min-height: 58px;
    max-height: 15%;
}

.modal-body{
    width: 100;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.formulary{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    min-height: 140px;
}

.content-image{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image-charger{
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: row;
}

.certificate-title{
    width: 85%;
    height: 100%;
}

.image-related > img{
    width: 80px;
    height: 80px;
    border: #e1e1e1 solid 1px;
}

.close-dialog{
    cursor:pointer;
    position:absolute;
    right:0;
    font-size:1.3em;
    color:#fff;
    top:-35px;
}

.more-images{
    max-width: 100%;
}

