<div class="modal-all-container">
  
  <div class="modal-content">
      
    <div class=close-dialog (click)="closeDialog()">
      <span>X</span> Cerrar
    </div>
    
    <div class="modal-title">
      <h3>Agregar Certificacion</h3>
    </div>
    
    <div class="modal-body">

        <div class="alert alert-danger" *ngIf="errorExist">
            <ul>
                <li *ngFor="let e of error">{{e}}</li>
            </ul>
        </div>

      <div class="formulary">
        
        <div class="certificate-title">
          <label>Nombre:</label>
          <input type="text" [(ngModel)]='this.certificateNew.nombre'>
        </div>
        
        <div class="content-image">
          <label> Imagen: </label>
          <div class="image-charger">
            <div class="image-related">
              <img *ngFor="let image of images" [src]="image">
            </div>
            <div class="more-images ">
              <img src="assets/img/plus.png" style="width: 1cm;height: 1cm;" (click)="openInputImageProduct()">
              <input type="file" (change)="chargeImageNew($event)" accept="image/x-png,image/gif,image/jpeg" #imgProduct>
            </div>
          </div>
        </div>

      </div>

      <div class="foot-page-down">
          <button (click)="saveCertificate()" class="btn-verde m-10 f-s-18">Guardar</button>
      </div>

    </div>

  </div>

</div>