
<app-modal-confirmar *ngIf="modalDisplay" (display)="closeModal($event)" 
                     [legend]="legend" [method]="method" [id]="id_solicitate">
</app-modal-confirmar>

<div class="spinner" *ngIf="spinerIsVisible" >
        <mat-progress-spinner
            [mode]="pspinner.mode">
        </mat-progress-spinner>
</div>

<div class="container-vender">
    <div *ngFor="let product of productos; let i = index" class="col-12 col-sm-6 col-lg-4 col-xl-3" style="padding: 13px 5px 0px 5px;">
        <div class="producto-item">
            <div class="imagen" (click)="getCompra( product.tipo ,product.id )">
                <img src="{{product.imagenes[0].imagen}}" width="100%">
            </div>
            <div class="row estatus estatus-btn">
                <div class="row ">
                <div class="estatus-label">
                    <label *ngIf="product.completado == 1" style="color:green">Completada</label>
                    <label *ngIf="product.completado == 0" style="color:#ffa382">En proceso</label>
                </div>
                <div class="botones">
                    <a>
                        <img src="assets/img/eliminar.png" width="14px" (click)="eliminar(product.id, product.tipo)">
                    </a>
                </div>
            </div>
            </div>
            <div (click)="getCompra( product.tipo ,product.id )" class="col-sm-12 center info titulo">
                {{ product.producto !==null ? product.producto.nombre : 'No especificado'}}
            </div>
            <div class="col-sm-12 center info">
                <div class="col-sm-12 center info">
                        <span style="font-size: 22px"> ${{product.precio_unidad !== null ? product.precio_unidad : 'No especificado'}}</span> /
                        <span style="font-size:16px;color:#979797;"> {{ product.unidad !== null ? product.unidad.nombre : 'No especificado'}}</span>
                </div>
            </div>
            <div class="col-sm-12 info">
                <span class="info-titulo">Variedad:</span>
                <span>{{product.variedad !== null ? product.variedad : 'No especificado' }}</span>
            </div>
            <div class="col-sm-12 info">
                <span class="info-titulo">Volumen: </span>
                <span>{{product.total_venta !== null ? product.total_venta : 'No especificado'}} {{ product.unidad !== null ? product.unidad.nombre : 'No especificado' }}</span>
            </div>
            <div class="col-sm-12 info" *ngIf="product.tipo == 'oferta'">
                <span class="info-titulo">Disponibilidad: </span>
                <span>{{product.disponible_desde }} al {{product.disponible_hasta }}</span>
            </div>
            <div class="col-sm-12 info" *ngIf="product.tipo == 'solicitud'">
                <span class="info-titulo">Disponibilidad: </span>
                <span>{{product.requerido_desde }} al {{product.requerido_hasta }}</span>
            </div>
        </div>
    </div>

</div>

<div *ngIf="vacio" style="height:380px; display: grid;">
    <span class='vacio-msg'>No hay compras que mostrar</span>
  </div>

<mat-paginator [length]="paginatorConf.length" 
                    [pageSize]="paginatorConf.pageSize"
                    [pageSizeOptions]="paginatorConf.pageSizeOptions"
                    [pageIndex]="paginatorConf.pageIndex"
                    (page)="page($event)">
</mat-paginator>