.signupFormContainer {
  max-width: 515px;
  margin: auto;
  margin-top: 4em;
}

.registerTittle {
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

input {
  border: none;
  border-bottom: 1px solid #4d4d4d;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: unset;
}

label {
  display: block;
}

.required {
  color: red;
}

.btnSignup {
  background: #80b500;
  color: #fff;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

.terminosContainer {
  display: flex;
  align-items: center;
}

.terminosContainer label {
  margin-left: 15px;
}

.terminosContainer label a {
  text-decoration: underline;
  color: #006ce5;
}

.login {
  text-decoration: underline;
  color: #006ce5;
}