<app-navbar></app-navbar>
<div class="col-sm-12" style="margin-top: 90px;">
  <div class="signupFormContainer">
    <div class="">
      <div class="registerTittle">REGISTRO</div>
      <form #signupForm=ngForm (ngSubmit)="onSubmit(signupForm)">
        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>

        <div class="form-group row">
          <label for="inputName3" class="col-sm-12 col-form-label">
            Nombre de usuario 
            <span class="required">*</span>
          </label>
          <div class="col-sm-12">
            <input type="text" name="name" class="form-control" id="inputname3" [(ngModel)]="form.name" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-12 col-form-label">
            Correo electrónico 
            <span class="required">*</span>
          </label>
          <div class="col-sm-12">
            <input type="email" name="email" class="form-control" email id="inputEmail3" [(ngModel)]="form.email" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPasswordConfirmation3" class="col-sm-12 col-form-label">
            Contraseña 
            <span class="required">*</span>
          </label>
          <div class="col-sm-12">
            <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3"
              [(ngModel)]="form.password" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-12 col-form-label">
            Confirmar contraseña 
            <span class="required">*</span>
          </label>
          <div class="col-sm-12">
            <input type="password" name="password_confirmation" class="form-control" id="inputPassword3" [(ngModel)]="form.password_confirmation"
              required>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <re-captcha (resolved)="resolved($event)" class="captcha" siteKey="6LdTUmAUAAAAAGJKrxr8AqyytoMTjFJtZHeR8iYk"></re-captcha>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn-block btnSignup">{{btn_msg}}</button>
          </div>

          <div class="terminosContainer">
            <input type="checkbox" name="terminos" id="terminos" [(ngModel)]="terminos" value="terminos" class="chkTerminos"> 
            <label for="terminos" class="condiciones">
              He leído y acepto los términos y condiciones del 
              <a href="/aviso-de-privacidad" target="_blank">
                aviso de privacidad
              </a>
            </label>
          </div>

          <div class="col-sm-12">
            <p style="display: inline-block;">
              ¿Ya tienes una cuenta? 
            </p> 
            <a routerLink="/login" class="login"> 
              Ingresar
            </a>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>

