img {
	width: 200px;
	height: 200px;
	position:relative;
	display: inline-block;
	cursor: pointer;
}


select {
	border-radius: 0;
	border-color: #e3e3e3;
}

#imgEmpresaInput {
	display: inline-block;
	cursor:pointer;
	height: 200px;
	right: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	position: absolute;
	width: 200px;
	/* z-index: 99; */
}