<br><br>
<div class="row">
  <div class="col-sm-12" style="text-align: center;">
    <img [src]="imgEmpresa" (click)="simulateImageEnter()">
    <input type="file" name="imgEmpresa" id="imgEmpresaInput" (change)="previewEmpresaImage($event)" #inputImage>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
			<label for="nombre_empresa">Nombre de la persona o empresa</label>
			<input type="text" class="form-control" name="nombre_empresa" [(ngModel)]="this.infoData.billing_company" (focusout)="this.saveSchema()">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
			<label for="rfc">RFC</label>
			<input type="text" style="text-transform:uppercase;" class="form-control" name="rfc" [(ngModel)]="this.infoData.rfc" (focusout)="this.saveSchema()">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
			<label for="pais">País</label>
			<select [(ngModel)]="this.infoData.country_id" (change)="chargeStates()" class="form-control" name="pais">
					<option value="0">Selecciona país</option>
					<option *ngFor="let country of countries" [selected]="this.infoData.country_id == country.id" value="{{country.id}}">{{country.name}}</option>
			</select>
			<small id="paisHelp" class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>
  
  <div class="col-sm-3">
    <div class="form-group">
			<label for="estado">Estado</label>
			<select class="form-control" [(ngModel)]="this.infoData.estado_id" name="estado" (focusout)="this.saveSchema()" #selectState>
					<option value="0">Selecciona estado</option>
					<option *ngFor="let state of states" [selected]="this.infoData.estado_id == state.id" value="{{state.id}}">{{state.name}}</option>
			</select>
			<small id="estadoHelp" class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
			<label for="municipio">Ciudad</label>
			<input type="text" class="form-control" name="ciudad" [(ngModel)]="this.infoData.ciudad" (focusout)="this.saveSchema()">
			<small id="municipioHelp" class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
			<label for="codigo_postal">Código postal</label>
			<input type="text" class="form-control" name="codigo_postal" [(ngModel)]="this.infoData.cp" (focusout)="this.saveSchema()">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
  
    <div class="form-group">
			<label for="direccion">Dirección de empresa</label>
			<input type="text" class="form-control" name="direccion" [(ngModel)]="this.infoData.billing_address" (focusout)="this.saveSchema()">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  
  </div>

  <div class="col-sm-6">
    <div class="form-group">
			<label for="telefono">Teléfono de empresa</label>
			<input type="text" class="form-control" name="telefono" [(ngModel)]="this.infoData.enterprise_phone" (focusout)="this.saveSchema()">
			<small class="form-text text-muted">Este campo es obligatorio</small>
		</div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-12">
		<a  href="" class="customTooltip">¿Por qué te pedimos estos datos? <span class="tooltipText tooltipBottom"><p>Cuéntanos acerca de ti y las características que te hagan especial, esta información genera confianza y aumeta tus posibilidades de venta.</p></span></a>
  </div>
</div>

<br>
<br>


