<div class="row align-items-center">
  <div class="form-group offset-sm-6 col-sm-5" style="margin-top:20px;padding:0;">
    <input type="buscarUsuario" class="form-control" id="buscarUsuario" placeholder="Buscar usuario">
  </div>
  <button class="col-sm-1" id="btnBuscar"><i class="material-icons">search</i></button>
</div>

<div class="row">
  <table class="table col-sm-12">
    <thead>
      <tr>
        <th>Estatus</th>
        <th>ID</th>
        <th>Usuario</th>
        <th>Correo electrónico</th>
        <th>Fecha alta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <label class="switch">
            <input type="checkbox" name="estatus[]">
            <span class="slider round"></span>
          </label>
        </td>
        <td>25</td>
        <td>Pedro López</td>
        <td>p.lopez@rest.com</td>
        <td>20/05/18</td>
        <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
      </tr>
      <tr>
        <td>
          <label class="switch">
            <input type="checkbox" name="estatus[]">
            <span class="slider round"></span>
          </label>
        </td>
        <td>24</td>
        <td>Pedro López</td>
        <td>p.lopez@rest.com</td>
        <td>19/05/18</td>
        <td>
          <i class="material-icons">edit</i>
          <i class="material-icons">delete</i>
        </td>
      </tr>
      <tr>
        <td>
          <label class="switch">
            <input type="checkbox" name="estatus[]">
            <span class="slider round"></span>
          </label>
        </td>
        <td>23</td>
        <td>Pedro López</td>
        <td>p.lopez@rest.com</td>
        <td>18/05/18</td>
        <td>
          <i class="material-icons">edit</i>
          <i class="material-icons">delete</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>