input {
	height: 1.5cm;
	border-radius: 0px;
	border-width: 1.5px;
  border-color: #e6e6e6;
  padding-left: 10px;
}

#btnBuscar {
  height: 55px;
  width: 55px;
  border: 0;
  background: #80b500;
  margin-top: 5px;
  cursor: pointer;
}

#btnBuscar i {
  color: #fff;
}

table {
  margin-top: 30px;
  border: 1px solid #dee2e6
}

td {
  vertical-align: middle;
}

td > label {
  margin: 0;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
} 