<app-navbar></app-navbar>
<div class="navigation-bar">
    <div class="ruta"> 
        <div class="link" (click)="redirect(0)">Dashboard</div> 
        <div class="divisor">/</div> 
        <div class="link" (click)="redirect(1)" >Solicitar</div> 
        <div class="divisor">/</div> 
        <div>Nueva solicitud</div>
    </div>
</div>
<div class="full-container">
    
    
<div class="formulary-container">
    <app-modal-nueva-certificacion *ngIf="modalCertificatesIsVisible" 
                                    (display)="closeCertificate($event)">
    </app-modal-nueva-certificacion>
    <app-modal-aviso *ngIf="modalConfirmIsVisible" ></app-modal-aviso>
    <div class="alert alert-danger" *ngIf="errorExist">
        <ul>
            <li *ngFor="let e of error">{{e}}</li>
        </ul>
    </div>

    <div class="row">
        
        <div class="container-s1">
            <label for="categoria">Categoría*</label>
            <select [(ngModel)]="this.solicitudSchema.categoria" name="categoria" (change)="chargeProducts()">
                <option value="0" disabled>Elige una categoría</option>
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.nombre}}</option>
            </select>
        </div>

        <div class="container-s2">
            <div class="content-input-text">
                <label for="producto">Producto*</label>
                <select [(ngModel)]="this.solicitudSchema.producto_id" (change)="changeDefaultImagesProduct()" class="select-producto" name="producto">
                    <option value="0" disabled>Selecciona tu producto</option>
                    <option *ngFor="let product of products" value="{{product.id}}">{{product.nombre}}</option>
                </select>
            </div>
            <div class="content-help">
                    <label><img src="assets/img/icon.png" style="width: 22px;height: 22px;" alt=""> Ayuda</label>
                    <span class="tooltipHelp" style="margin-top: 96px;">
                        <div class="title-tooltip">¿Por qué te pedimos esto?</div>
                        <div class="information-tooltip">
                            Seleccionar categoría y luego el Producto. Si no encuentras el tuyo describelo.
                        </div>
                    </span>
            </div>
        </div>    

    </div>

    <div class="row">
        <div class="container-s1">
            <label>Variedad*</label>
            <input [(ngModel)]="this.solicitudSchema.variedad" type="text">
        </div>
        <div class="container-s2">
            <div class="content-input-text">
                <label for="">Otras características</label>
                <input [(ngModel)]="this.solicitudSchema.otras_caracteristicas" type="text">
            </div>
            <div class="content-help">
                <label><img src="assets/img/icon.png" style="width: 22px;height: 22px;" alt=""> Ayuda</label>
                <span class="tooltipHelp" style="margin-top: 96px;">
                    <div class="title-tooltip">¿Por qué te pedimos esto?</div>
                    <div class="information-tooltip">
                        Si NO encuentra su producto, elija Otros y describalo en Variedad y Características.
                    </div>
                </span>
            </div>
        </div>
    </div>
    
        <div class="row special-1">
            <div class="container-s3">
                <div class="content-input">
                    <label for="">Volumen demanda</label>
                    <input [(ngModel)]="this.solicitudSchema.volumen_total" type="text" placeholder="00.00">
                </div>
            </div>
            <div class="container-s3">
                <div class="content-input">
                    <label for="">Unidad</label>
                    <select [(ngModel)]="this.solicitudSchema.unidad_id" name="oferta">
                        <option value="0" disabled selected>Seleccione una unidad</option>
                        <option *ngFor="let unit of unities" value="{{unit.id}}">{{unit.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="container-s3">
                <div class="content-input">
                    <label for="">Precio por unidad</label>
                    <input [(ngModel)]="this.solicitudSchema.precio_unidad" class="input-precio" type="text" placeholder="0.00">
                    <div class="link-to" (click)="navigateToReferencePrice()">Consultar el precio de referencia</div>
                </div>
            </div>
        </div>
    
        <div class="row special-2">
                
            <div class="container-s3">
                <div class="content-input">
                    <label for="">Presentación</label>
                    <select [(ngModel)]="this.solicitudSchema.presentacion_id" name="oferta">
                        <option value="0" disabled >Seleccione una presentación</option>
                        <option *ngFor="let presentation of presentations" value="{{presentation.id}}">{{presentation.nombre}}</option>
                    </select>
                </div>
            </div>
    
            <div class="container-s4">
                <div class="container-s6" >
                    <div class="content-input">
                        <label for="">Tamaño</label>
                        <input type="text" [(ngModel)]="this.solicitudSchema.tamano" placeholder="00.00">
                    </div>
                    <div class="content-help" style="padding-bottom: 15px;width: 24%;">
                            <label><img src="assets/img/icon.png" style="width: 22px;height: 22px;" alt=""> Ayuda</label>
                            <span class="tooltipHelp" style="margin-top: 96px;">
                                <div class="title-tooltip">¿Por qué te pedimos esto?</div>
                                <div class="information-tooltip">
                                    El pedido mínimo es la cantidad mínima de su producto que está dispuesto a vender.
                                </div>
                            </span>
                    </div>
                </div>

                <div class="container-s5">
                    <div class="content-input">
                        <label for="">Unidad</label>
                        <select [(ngModel)]="this.solicitudSchema.unidad_presentacion_id" name="oferta">
                            <option value="0" disabled >Seleccione una unidad</option>
                            <option *ngFor="let unit of unities" value="{{unit.id}}">{{unit.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
        
    </div>

    <div class="row special-3">    
        <div class="container-s8">
            <div class="content-input">
                <label for="">Destino</label>
                <select [(ngModel)]="this.solicitudSchema.pais_id" (change)="chargeStates()" class="w-33pc">
                    <option value="0" disabled >País</option>
                    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                </select>
            </div>
        </div>
        <div class="container-s8">
            <div class="content-input content-fix-input">
                <select [(ngModel)]="this.solicitudSchema.estado_id" name="Estado" class="w-33pc mb-12px">
                    <option value="0"  disabled>Estado</option>
                    <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
                </select>
            </div>
        </div>
        <div class="container-s8">
            <div class="content-input content-fix-input">
                <input type="text" [(ngModel)]="this.solicitudSchema.ciudad" class="mb-12px" placeholder="Ciudad" maxlength='40' style="text-indent: 15px;">
            </div>
        </div>
        <div class="container-s8">
            <div class="content-input content-fix-input">
                <input type="text" [(ngModel)]="this.solicitudSchema.codigo_postal" class="mb-12px" placeholder="Código postal" style="text-indent: 15px;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-s7">
            <label for="">Periodo*</label>
            <div class="content-data">
                <my-date-picker [(ngModel)]="this.solicitudSchema.requerido_desde" style="width: 85%;"
                    name="date-desde" [options]="myDatePickerOptions"
                    placeholder="Desde"></my-date-picker>
                <my-date-picker [(ngModel)]="this.solicitudSchema.requerido_hasta" style="width: 85%;"
                    name="date-hasta" [options]="myDatePickerOptions"
                    placeholder="Hasta" required></my-date-picker>
            </div>
        </div> 
    </div>

    <div class="row row-s9-fix">
        <div class="container-s9">
            <label>Fotografía(s) del producto | huerto | productor</label>
            <div class="content-image">
                <div class="image-related">
                    <img *ngFor="let image of images; let i = index" [src]="image.imagen" (click)="eraseImage(i)">
                </div>
                <div class="more-images more-images-2">
                    <img src="assets/img/plus.png" style="width: 1cm;height: 1cm;" (click)="openInputImageProduct()">
                    <div class="content-help" style="height: 0px;width: 41%;">
                        <label><img src="assets/img/icon.png" style="width: 22px;height: 22px;" alt=""> Ayuda</label>
                        <span class="tooltipHelp"  style="margin-top: 115px; margin-left: 125px">
                            <div class="title-tooltip">¿Porqué te pedimos esto?</div>
                            <div class="information-tooltip">
                                    La clave del éxito en la plataforma son los datos de los productos, por favor añada fotografías. 
                            </div>
                        </span>
                    </div>
                    <input type="file" (change)="chargeImageNew($event)" multiple accept="image/x-png,image/gif,image/jpeg" #imgProduct>
                </div>
            </div>
        </div> 
    </div>

    <div class="row row-s9-fix s9-fix2">

        <div class="container-s9">
            <label>Certificaciones</label>
            <div class="content-image-2">
                <div class="more-images" (clickOutside)="closeCertificatesList()">
                    <div class="container-s7 content-s7-fix">
                        <button class="add-certificates" (click)="dropCertificatesList()">
                            Selecciona certificación
                            <img src="https://png.icons8.com/material/50/000000/sort-down.png">
                        </button>
                        <div class="certificates-list" *ngIf="certificatesIsVisible" >
                            <label *ngFor="let certificate of certificates; let i=index">
                                <input type="checkbox" 
                                       value="{{certificate.id}}" 
                                       [(checked)]="checkCertificate[i]"
                                       (click)="selectCertified($event.target.value,i)">{{certificate.nombre}}
                            </label>
                        </div>
                        <img src="assets/img/plus.png" 
                             (click)="addCertificate()"  
                             style="width: 1cm;height: 1cm;">
                        <div class="content-help" style="padding-bottom: 32px;width: 26%;">
                            <label><img src="assets/img/icon.png" style="width: 22px;height: 22px;" alt=""> Ayuda</label>
                            <span class="tooltipHelp" style="margin-left: 130px">
                                <div class="title-tooltip">¿Porqué te pedimos esto?</div>
                                <div class="information-tooltip">
                                    Las certificaciones brindan seguridad y certidumbre al consumidor de que los productos, por favor si cuentas con alguna añadela.
                                </div>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="image-related">
                    <img *ngFor="let image of certificates_images" [src]="image.imagen" alt="">
                </div>
                    
            </div>
        </div> 

    </div> 

    <div class="row special-3">
        <div class="container-s10">
            <label for="descripcion-producto">Reseña del producto</label>
            <textarea [(ngModel)]="this.solicitudSchema.resena" name="descripcion-producto"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="foot-page-down">
            <button (click)="saveOfert()" class="btn-verde m-10 f-s-18">Guardar</button>
            <button (click)="cancel()" class="btn-negro m-10 f-s-18">Cancelar</button>
        </div>
    </div>
    
</div>

</div>