<aol-map [width]="'100%'" [height]="'auto'">
  <aol-interaction-default></aol-interaction-default>
  <aol-control-defaults></aol-control-defaults>
  <aol-control-fullscreen></aol-control-fullscreen>

  <aol-view [zoom]="9">
    <aol-coordinate [x]="x" [y]="y" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>

  <aol-layer-image *ngIf="selectLayer === 'osm'">
    <aol-source-raster #raster1
                       [operation]="operation"
                       [lib]="lib"
                       [operationType]="operationType"
                       (beforeOperations)="beforeOperations($event)"
                       (afterOperations)="afterOperations($event)">
      <aol-source-osm></aol-source-osm>
    </aol-source-raster>
  </aol-layer-image>

</aol-map>
