<div class="spinner" *ngIf="spinerIsVisible" >
  <mat-progress-spinner 
    [mode]="pspinner.mode">
  </mat-progress-spinner>
</div>

<div class="container" *ngIf="allUsersView && !spinerIsVisible">

  <div class="content">

    <div class="search">
      <div class="container-find-bar">
        <input class="find-bar" [(ngModel)]="buscar" type="text" placeholder="Buscar usuarios">
        <button (click)="search()" class="find-btn"></button>
      </div>
    </div>

    <div class="content-body">
        <div class="table">
          
          <div class="table-header">
            <div class="col-table" style="max-width: 135px;">Estatus</div>
            <div class="col-table" style="max-width: 25px;">ID</div>
            <div class="col-table">Usuario</div>
            <div class="col-table" style="min-width: 176px;">Correo electrónico</div>
            <div class="col-table hide-on-med">Fecha alta</div>
            <div class="col-table" style="max-width: 100px;"></div>
          </div>
          
          <div class="table-body">
            <div class="row-table" *ngFor="let user of users">
              <div style="max-width: 135px;" class="col-table">
                  <label class="switch">
                          <input (change)="statusChange(user.id)" [disabled]="deshabilitado==user.id" [(ngModel)]="user.status" type="checkbox">
                          <span class="slider round"></span>
                  </label>
              </div>
              <div style="max-width: 25px;" class="col-table">{{user.id}}</div>
              <div class="col-table">{{user.name}}</div>
              <div class="col-table" style="min-width: 176px; overflow: hidden;">{{user.email}}</div>
              <div class="col-table hide-on-med">{{user.registDate}}</div>
              <div class="col-table" style="max-width: 100px;">
                  <img src="assets/img/editar.png" (click)="editUser(user.id)" style="cursor: pointer;" alt="" srcset="">
                  <img src="assets/img/eliminar.png" (click)="deleteUser(user)" style="cursor: pointer;" alt="" srcset="">
              </div>
            </div>
          </div>
        
        </div>
    </div>

  </div>

</div>
<app-perfil [infoUser]="info" *ngIf="editUserView"></app-perfil>