<form action="#" id="cambiarContrasenaForm" class="form" style="position: relative;">
  <div id="cerrar" (click)="closeDialog()" style="cursor:pointer;position:absolute;background:rgba(0, 0, 0, 0);right:0;font-size:1.3em;color:#fff;top:-35px;">
    <span style="color:#fff;">X</span> Cerrar
  </div>
  <h3 style="text-align:center;background:#80b500;padding:20px;color:#fff;"  mat-dialog-title>Confirmación</h3>
  <div mat-dialog-content style="width:100%;text-align:center;">
    <p>¿Realmente desea borrar este usuario?</p>
    <p *ngIf="borrando">Borrando usuario...</p>
  </div>
  <div mat-dialog-actions style="float: right;margin-right: 15px;margin-bottom: 20px">
    <app-btn-verde (click)="borrar(data.user)" display="Sí"></app-btn-verde>
    <app-btn-verde (click)="cerrar()" display="No"></app-btn-verde>
  </div>
</form>