<app-navbar></app-navbar>
<div class="navigation-bar"> 
  <div class="ruta"> 
    <div class="link" (click)="redirect(0)">Market</div> 
    <div class="divisor">/</div> 
    <div class="link" (click)="redirect(1)">Solicitudes</div>
    <div class="divisor">/</div>  
    <div class="divisor">Busqueda</div> 
  </div>
</div>

<div class="col-sm-12" style="padding: 0px;">

  <div class="content">
    
    <div class="filters-container">
      <div class="filters d-none d-sm-block" >
        <div class="bolder-subtitle-black">Filtrar por</div>
        <div class="component-filters">
          <label for="select-category">Categoría:</label>
          <select [(ngModel)] ="filtros.categoria" (change)="getProductos()">
            <option [ngValue]="cualquier">Cualquiera</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}</option>
          </select>
        </div>
        <div class="component-filters">
          <label for="select-product">Producto:</label>
          <select [(ngModel)] = "filtros.producto" >
              <option [ngValue]="cualquier">Cualquier</option>
              <option *ngFor="let producto of productos" [ngValue]="producto" >{{producto.nombre}}</option>
          </select>
        </div>
        <div class="component-filters">
          <label for="select-estado">Estado de origen:</label>
          <select [(ngModel)] = "filtros.estado" >
              <option [ngValue]="cualquier">Cualquier</option>
              <option *ngFor="let estado of estados" [ngValue]="estado" >{{estado.nombre}}</option>
          </select>
        </div>
        <div class="component-filters">
          <label for="date-avaible">Fecha de disponibilidad:</label>
          <form #myForm="ngForm" novalidate>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                            [(ngModel)]="filtros.fecha" required></my-date-picker>
          </form>
        </div>
        <div class="component-filters">
          <label for="price-range">Precio: $ {{filtros.precio}} </label>
          <input type="range" style="width:100%;" [(ngModel)]="filtros.precio" min="0" max="{{this.maxPrice}}" name="price-range" id="5">
          <div class="label-range">
            <div class="label-datarange">$ 0</div>
            <div class="label-datarange">$ {{this.maxPrice}}</div>
          </div>
        </div>
       
        <div class="component-filters">
            <label for="select-certificaciones">Certificaciones:</label>
            <select name="select-certificaciones" [(ngModel)] = "filtros.certificacion" >
                <option [ngValue]="cualquier" >Cualquier</option>
                <option *ngFor="let certificacion of certificaciones" [ngValue]="certificacion" >{{certificacion.nombre}}</option>
            </select>
        </div>
        <div class="component-filters center-button">
            <button class="btn-verde" (click)="buscar()"  >Filtrar</button>
        </div>
      </div>
    </div>

    <div *ngIf="filtroModal"  class="modalContainer d-sm-none d-block" >
      <span class="closeModal" (click)="closeModal()">X Cerrar</span>
      <div class="filters-sm">
        <div class="bolder-subtitle-black">Filtrar por:</div>
        <div class="component-filters">
          <label for="select-category">Categoría:</label>
          <select [(ngModel)] ="filtros.categoria" (change)="getProductos()">
            <option [ngValue]="cualquier">Cualquiera</option>
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}</option>
          </select>
        </div>
        <div class="component-filters">
          <label for="select-product">Producto:</label>
          <select [(ngModel)] = "filtros.producto" >
              <option [ngValue]="cualquier">Cualquier</option>
              <option *ngFor="let producto of productos" [ngValue]="producto" >{{producto.nombre}}</option>
          </select>
        </div>
        <div class="component-filters">
          <label for="select-estado">Estado de origen:</label>
          <select [(ngModel)] = "filtros.estado" >
              <option [ngValue]="cualquier">Cualquier</option>
              <option *ngFor="let estado of estados" [ngValue]="estado" >{{estado.nombre}}</option>
          </select>
        </div>
        <div class="component-filters">
          <label for="date-avaible">Fecha de disponibilidad:</label>
          <form #myForm="ngForm" novalidate>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                            [(ngModel)]="filtros.fecha" required></my-date-picker>
          </form>
        </div>
        <div class="component-filters">
          <label for="price-range">Precio: $ {{filtros.precio}} </label>
          <input type="range" style="width:100%;" [(ngModel)]="filtros.precio" min="0" max="{{this.maxPrice}}" name="price-range" id="5">
          <div class="label-range">
            <div class="label-datarange">$ 0</div>
            <div class="label-datarange">$ {{this.maxPrice}}</div>
          </div>
        </div>
       
        <div class="component-filters">
            <label for="select-certificaciones">Certificaciones:</label>
            <select name="select-certificaciones" [(ngModel)] = "filtros.certificacion" >
                <option [ngValue]="cualquier" >Cualquier</option>
                <option *ngFor="let certificacion of certificaciones" [ngValue]="certificacion" >{{certificacion.nombre}}</option>
            </select>
        </div>
        <div class="component-filters center-button">
            <button class="btn-verde" (click)="buscar()" (click)="alternaModal()" >Filtrar</button>
        </div>
      </div>
    </div>
    
    <div class="body-find">
        
      <div class="row head-busqueda">
          
          <div class="search-bar col-12 col-md-6">
            <input [(ngModel)]="filtros.busqueda" class="find-bar" type="text" placeholder="Buscar productos">
            <button class="find-btn" (click)="buscar()"><mat-icon>search</mat-icon></button>
          </div>

          <div class="col-12 col-md-3" style="padding-bottom: 10px; display: flex;">
            <select [(ngModel)]="filtros.categoria" class="select" name="filter-type-select">
              <option [ngValue]="cualquier">Categoría</option>
              <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}</option>
            </select>    
            <button class="find-btn d-sm-none d-block" (click)="alternaModal()" > <mat-icon>more_vert</mat-icon></button>
          </div>
          
      </div>

        <div class="products" *ngIf="solicitudes">
          <div class="product-card col-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let solicitud of solicitudes">
            

            <div class="product-item pointer" (click)="detalleSolicitud( solicitud.id )">
                <div class="imagen"> 
                  <img src="{{solicitud.imagenes[0].imagen}}" alt="">
                </div>
                
                <div class="top-title">
                  <div class="title-black routerLink" style="height:45px;overflow:hidden;text-align:center">{{solicitud.producto.nombre}}</div>                  
                </div>

                <div class="characteristics">
                    <div class="text-price"> ${{solicitud.precio_unidad !== null ? solicitud.precio_unidad : 'No especificado'}} </div> <div class="gray-small"> /  {{solicitud.unidad !== null ? solicitud.unidad.nombre : 'No especificado'}}</div>         
                </div>
                <div class="additional-characterist">
                    <div class="characteristics">
                        <div class="description-text fit">Variedad:&nbsp; </div>
                        <div class="text">{{solicitud.variedad !== null ? solicitud.variedad : 'No especificado'}}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text fit">Volumen: &nbsp;</div>
                        <div class="text">{{solicitud.volumen_total !== null ? solicitud.volumen_total : 'No especificado'}}  {{solicitud.unidad !== null ? solicitud.unidad.nombre : ''}}</div>
                    </div>
                    <div class="characteristics">
                        <div class="description-text fit">Requerido:&nbsp; </div>
                        <div class="text date">{{solicitud.requerido_desde }} al {{solicitud.requerido_hasta }}</div>

                    </div>
                    <div class="characteristics">
                        <div class="description-text fit">Solicitante:&nbsp; </div>
                        <div class="text provider"> {{ solicitud.usuario !== null ? solicitud.usuario.name : ''}}</div>
                    </div>
                </div>
              </div>
          </div>
      </div>

      <div class="products" *ngIf="!solicitudes" style="height: 380px; text-align: center;padding-top: 135px;">
        <mat-progress-spinner
          [mode]="pspinner.mode">
       </mat-progress-spinner>
      </div>



      <mat-paginator [length]="paginatorConf.length"
                    [pageSize]="paginatorConf.pageSize"
                    [pageSizeOptions]="paginatorConf.pageSizeOptions"
                    [pageIndex]="paginatorConf.pageIndex"
                    (page)="page($event)">
      </mat-paginator>

    </div>

  </div>
</div>